In [6]:
#webscraping here

import pandas as pd
import praw

reddit = praw.Reddit(client_id="69xO_MRhRBIQGprtVEZIbA",
    client_secret="GgPpkwrp_BPNduxYQ-dOcxfmrykfhQ",
    user_agent="test")


subreddit = reddit.subreddit("scu")

posts_dict = {"Body": [], "ID": [], "Ups": []}

for post in subreddit.hot(limit=1000):
    # Title and body of each post
    title = post.title
    text = post.selftext
    body = title + "\n" + text
    posts_dict['Body'].append(body)
     
    # Unique ID of each post
    posts_dict["ID"].append(post.id)
     
    # The score of a post
    posts_dict["Ups"].append(post.score)

top_posts = pd.DataFrame(posts_dict)
top_posts.to_csv("Top Posts.csv", index=True)
display(top_posts)

                                                  Body       ID  Ups
0    Recruitments for Studies/Job Opportunities & O...   oouus2   17
1    Advice Paper for Incoming COEN/CS Students\nHi...   xkfy3u   45
2    CRE QUESTION\nHello,\n\nI’ve took AP Calculus ...  1dbe0b2    2
3    Entire Townhome Available for Sublet//1st Quar...  1db2tb3    1
4    Calculus readiness exam\nHi, I am an incoming ...  1daswr3    2
..                                                 ...      ...  ...
968  Freshman dorms\nHow hard is it to get into Fin...   kxpxqv    5
969  (Open to all Bay Area Residents) 1 Min Survey ...   kwq8y5    4
970  Hackathon Opportunity For SCU Students (All Ma...   ku4vj1   11
971  Calling all engineering, computer science, and...   ks6uiv    4
972  Does SCU has Poker team or poker student club/...   kogufc   13

[973 rows x 3 columns]

In [13]:

#id_list = top_posts["ID"].tolist()
id_list = ["1dbe0b2", "1db2tb3", "1d2a3en", "1d13d4b"]
comments = pd.DataFrame()
x=0
for i in id_list:                      #indicates start of the subission id processing
    comment_list = []
    submission = reddit.submission(i)
    submission.comments.replace_more(limit=None)
    for comment in submission.comments.list():
        if(comment.author == "AutoModerator"):
            continue
        else:
            comment_list.append(comment.__dict__)
            comments_df = pd.DataFrame(comment_list)
            comments = pd.concat([comments, comments_df], axis=0)
    x+=1
    print(x)


cleaned_df = comments.filter(['_submission','id','author', 'body', 'ups'], axis=1)
cleaned_df.to_csv(f'comments_csvs/dataset_{i}_comments.csv')
display(cleaned_df)

1
2

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:

id_list = top_posts["ID"].tolist()
for i in id_list:
    print(i + " is started")                        #indicates start of the subission id processing
    comment_list = []
    submission = reddit.submission(i)
    submission.comments.replace_more(limit=None)
    for comment in submission.comments.list():
        comment_list.append(comment.__dict__)
    comments_df = pd.DataFrame(comment_list)
    cleaned_df = comments_df.filter(['_submission','id','author', 'body', 'ups'], axis=1)
    cleaned_df.to_csv(f'dataset_{i}_comments.csv')
    display(cleaned_df)

    print(i + " is completed")

oouus2 is started

Empty DataFrame
Columns: []
Index: []

oouus2 is completed
xkfy3u is started

,_submission,id,author,body,ups
0,xkfy3u,ipxm05c,thepronoobkq,10/10 guide thx for teaching me scheme lol,1
1,xkfy3u,ipgi6cg,missionbmw,Shoutout to the best peer advisor ever!,5
2,xkfy3u,iptfalj,iSezdis,That's outstanding. Thanks for putting all the...,5
3,xkfy3u,itjbz9a,AcademicRevolution,This man is goated listen to his advice,4
4,xkfy3u,jmydfpc,lawfulpossum,Thank you so much!! So helpful :),3
5,xkfy3u,j9cqxag,Human_Comfort_4144,My D is not COEN major but I can see that your...,3
6,xkfy3u,jz4mjic,GroundbreakingRow163,A++ paper full of great information! Thanks fo...,3
7,xkfy3u,k567g45,DistributionStreet58,Thanks! This paper is very helpful- regardless...,2
8,xkfy3u,ipdnnf9,AutoModerator,Welcome to the Santa Clara University subreddi...,1
9,xkfy3u,iphdxmn,jordan-randleman,Thank you so much! :),5

xkfy3u is completed
1dbe0b2 is started

,_submission,id,author,body,ups
0,1dbe0b2,l7qfkhn,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1dbe0b2 is completed
1db2tb3 is started

,_submission,id,author,body,ups
0,1db2tb3,l7o7k5a,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1db2tb3 is completed
1daswr3 is started

,_submission,id,author,body,ups
0,1daswr3,l7miqjf,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1daswr3,l7mmgup,SmoothSlide9690,So if you don't do well you're going to need t...,1
2,1daswr3,l7mygpu,CheesecakeWaste9279,I heard you need to review 6th and 7th grade m...,1
3,1daswr3,l7mnmff,Queasy-Detective-788,"Ok, thanks! And would that change my options f...",0
4,1daswr3,l7mnz2i,SmoothSlide9690,Nope. All this does is make you behind by one ...,1

1daswr3 is completed
1d8yrbn is started

,_submission,id,author,body,ups
0,1d8yrbn,l79k5qk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d8yrbn,l79k8ng,Tiernan_Kelly,Available for just the Fall Quarter as well.,1
2,1d8yrbn,l7d6sgu,DistributionStreet58,What the roommates story? Male / female?,1
3,1d8yrbn,l79kn4c,Tiernan_Kelly,It can be a single or double depending on your...,1
4,1d8yrbn,l7eklca,Tiernan_Kelly,4 Male housemates,1

1d8yrbn is completed
1d91jw1 is started

,_submission,id,author,body,ups
0,1d91jw1,l7a50iv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d91jw1,l7acaac,BaakCoi,Would a ZipCar work?,5
2,1d91jw1,l7alebd,Sentryion,Can’t you take the train? Scu is right by the ...,4
3,1d91jw1,l7b47ei,tm602502,"I didn't mean to sound rude, but the rest of u...",5
4,1d91jw1,l7abl9f,rubayet1995,Have you tried Turo?,5
5,1d91jw1,l7fdwoa,themexpride,Public transportation is available. Mix of tra...,1
6,1d91jw1,l7q4hwo,1_7_38,there's a bus line that goes directly from SJC...,1
7,1d91jw1,l7acymv,Substantial_Debt6218,"Sorry, I’m new to the Bay Area, what’s a zip car?",2
8,1d91jw1,l7b8p96,Substantial_Debt6218,No you’re all good!\n\nI’ve never been to the ...,1
9,1d91jw1,l7acu0i,Substantial_Debt6218,Turo is charging me like an extra $100 for you...,1
10,1d91jw1,l7ad657,BaakCoi,It’s a rental car service that lets you rent a...,10
11,1d91jw1,l7bg6n1,tm602502,"Based on this page, [https://support.zipcar.co...",3
12,1d91jw1,l7aek9t,Substantial_Debt6218,Do you need to make an appointment beforehand?...,1
13,1d91jw1,l7ajxc3,BaakCoi,You have to make an account and get a membersh...,7
14,1d91jw1,l7ak7sf,Substantial_Debt6218,"Alright, thank you!",1

1d91jw1 is completed
1d7lzod is started

,_submission,id,author,body,ups
0,1d7lzod,l707eom,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d7lzod is completed
1d6ijhc is started

,_submission,id,author,body,ups
0,1d6ijhc,l6sk60m,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d6ijhc is completed
1d6rziz is started

,_submission,id,author,body,ups
0,1d6rziz,l6uemkj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d6rziz,l6y6031,holiztic,We’d like to know this for a business major wh...,1
2,1d6rziz,l71cbkg,iSezdis,Doubtful because Engineering is a different sc...,1
3,1d6rziz,l7boatj,PanickedFish,"Yes, the CS major in CAS requires 3 computer s...",1

1d6rziz is completed
1d6gwl7 is started

,_submission,id,author,body,ups
0,1d6gwl7,l6s87ci,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d6gwl7,l6segm5,pedidentalasst67,Do airbnb,1
2,1d6gwl7,l6skyr2,ratt_m,I can hardly see any AirBnb below 2.5k,1
3,1d6gwl7,l6tp9e4,BaakCoi,2.5k for a private room and bathroom for 3 mon...,1
4,1d6gwl7,l6u28ix,pedidentalasst67,Really? I know a lady that rents a room out he...,1
5,1d6gwl7,l6txypc,ratt_m,"Sorry, I meant 2.5k/month, it’s not the aggreg...",1

1d6gwl7 is completed
1d66kgo is started

,_submission,id,author,body,ups
0,1d66kgo,l6qdb0t,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d66kgo,l6s2u7w,Big_Cucumber_2429,I don’t believe we have been given access yet.,3

1d66kgo is completed
1d5yi68 is started

,_submission,id,author,body,ups
0,1d5yi68,l6orwhc,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d5yi68,l6ostw4,Ch8ngus,Mo clue about being trans but graham and Finn ...,5
2,1d5yi68,l6oy0fr,5torm,There is no “best” dorm for LGBT people. The o...,5
3,1d5yi68,l6osuk9,MobilePiano6439,Would love to know also. I visited with my tra...,4
4,1d5yi68,l6seh8v,Affectionate_Dog_600,"Swig, you will find it very inclusive there",-1
5,1d5yi68,l6oyb2n,5torm,"Correct - it’s a private, Catholic university,...",4
6,1d5yi68,l6p0s3p,MobilePiano6439,I mean other similar schools do have a process...,2
7,1d5yi68,l6p15hk,5torm,Fair enough - I’m sure they’ll still have a gr...,2

1d5yi68 is completed
1d5d2n7 is started

,_submission,id,author,body,ups
0,1d5d2n7,l6kkioz,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d5d2n7,l6naqt4,Silent_Gift3874,"My son used a woman named Jyothi for AP Calc, ...",3
2,1d5d2n7,l71c1y0,iSezdis,"Try [wyzant.com](http://wyzant.com), they have...",1
3,1d5d2n7,l6nbfcv,Left-Cherry1712,Thank you! I’ll definitely contact her.,1
4,1d5d2n7,l76nozb,Left-Cherry1712,"I’m in the right major lol, im an econ student...",1
5,1d5d2n7,l6nbmu9,Silent_Gift3874,You can tell her “Nick’s Mom” recommended :-).,1

1d5d2n7 is completed
1d45uwx is started

,_submission,id,author,body,ups
0,1d45uwx,l6byq1q,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d45uwx is completed
1d3gien is started

,_submission,id,author,body,ups
0,1d3gien,l671z38,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d3gien is completed
1d37h2g is started

,_submission,id,author,body,ups
0,1d37h2g,l65cyhg,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d37h2g is completed
1d2qs1y is started

,_submission,id,author,body,ups
0,1d2qs1y,l627cz8,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d2qs1y,l62doc1,SavedByTech,"SCU is a much better campus, location and seem...",9
2,1d2qs1y,l62xjgk,EPIC_BATTLE_ROYALE,"Hey there! I attended SJSU for my undergrad, a...",3
3,1d2qs1y,l62z3ua,Wonderful_Ad6675,Imo it’s not worth the extra tuition. But I’d ...,-2
4,1d2qs1y,l62yy5l,Wonderful_Ad6675,First part I agree with. 2nd part I do not,-1

1d2qs1y is completed
1d2a3en is started

,_submission,id,author,body,ups
0,1d2a3en,l5z71u6,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d2a3en,l62cl0y,triezPugHater,Go to SCU over the AZ ones if it's cheap enoug...,5
2,1d2a3en,l5zlmvy,PrintOk8045,SCU. More prestigious. Better internships. Clo...,8
3,1d2a3en,l633b62,iceboy502,Arizona is so hot,3
4,1d2a3en,l5zdlv6,Obvious-Baker1731,Def scu,4
5,1d2a3en,l63bq79,Ok-Employment-7399,"Mind if I dm you and ask you some questions, p...",2
6,1d2a3en,l63cxcs,Ok-Employment-7399,That’s true though😭,0
7,1d2a3en,l5zes3m,Ok-Employment-7399,"Roger that, mind if I ask why?",0
8,1d2a3en,l643vsc,triezPugHater,Sure,1
9,1d2a3en,l5zgffz,mustafo_t,Ur in a scu sub first of all so bias.\n\nAddit...,7
10,1d2a3en,l60usi3,Obvious-Baker1731,Both the Arizonas are known as huge party scho...,2
11,1d2a3en,l650dks,Ok-Employment-7399,Message sent,1
12,1d2a3en,l617wjq,ProfessionalWise7953,Not affiliated with SCU but it definitely has ...,2
13,1d2a3en,l63bnk7,Ok-Employment-7399,"Understood\nCorrect me if I’m wrong, but I tho...",2
14,1d2a3en,l71i2sw,iSezdis,"That is untrue, they have low GPA requirements...",0
15,1d2a3en,l71icz3,iSezdis,"They don't say ""uni"" in the U.S., they call th...",1
16,1d2a3en,l71srkx,Obvious-Baker1731,Public perception of arizonas is they are part...,1

1d2a3en is completed
1d1z3of is started

,_submission,id,author,body,ups
0,1d1z3of,l5x5cv3,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1d1z3of is completed
1d13d4b is started

,_submission,id,author,body,ups
0,1d13d4b,l5r4ac3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d13d4b,l5rg2ab,Apprehensive-Math240,"Unless their financial aid package sucks, NYU",9
2,1d13d4b,l5u1wjs,JacksonG33,i wouldn’t turn down the opportunity to live i...,2
3,1d13d4b,l5uvwi8,Mishmello,NYU. Not only is it more prestigious but colle...,4
4,1d13d4b,l5xvy34,Normiex5,Why would he go for the school that has lower ...,0
5,1d13d4b,l5y379g,Mishmello,What are you even saying?,-1
6,1d13d4b,l5y6d78,Normiex5,Let me put it in bullet points \n\nReasons he ...,3

1d13d4b is completed
1d0dr3p is started

,_submission,id,author,body,ups
0,1d0dr3p,l5mafuj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1d0dr3p,l5nn7g8,Saltysalad,I graduated with a minor in computer engineeri...,4
2,1d0dr3p,l5mbzxv,alxxv01,Bump since I have the same question,4
3,1d0dr3p,l5pxdg3,Leo_Chen_zy,Yes!,4
4,1d0dr3p,l5tv6y2,Ch8ngus,"Yeah you can, it’s very easy for minors, littl...",1
5,1d0dr3p,l5o8k7z,JJYellowShorts,art history is not going to provide you with e...,0
6,1d0dr3p,l5tvdy6,vanillaxsky,Yes,2
7,1d0dr3p,l5tv4y0,Ch8ngus,"Stfu bruh, thats up to them not you",2
8,1d0dr3p,l5ukf7g,JJYellowShorts,You’re right. They are the ones making the fin...,-1

1d0dr3p is completed
1cxx9gm is started

,_submission,id,author,body,ups
0,1cxx9gm,l55h9vo,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cxx9gm is completed
1cwzyfp is started

,_submission,id,author,body,ups
0,1cwzyfp,l4zaygl,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cwzyfp is completed
1cw4kbn is started

,_submission,id,author,body,ups
0,1cw4kbn,l4tj2fv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cw4kbn,l4u614x,EPIC_BATTLE_ROYALE,"Hey there, not international but I am in the p...",4
2,1cw4kbn,l7hz962,ZJiaX,"Hi there, thank you for asking this, I am an i...",1
3,1cw4kbn,l4wdxqc,LaajuGandhi,"Hey, thank you so much for your response! I re...",1

1cw4kbn is completed
1cw89bv is started

,_submission,id,author,body,ups
0,1cw89bv,l4u7or1,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cw89bv is completed
1cw69q2 is started

,_submission,id,author,body,ups
0,1cw69q2,l4tv958,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cw69q2,l672kji,JazzlikeRespond2261,is this still available>,1
2,1cw69q2,l677uxq,Strong_Hat_704,Yes. One person moving into their room on Friday.,1
3,1cw69q2,l679lop,JazzlikeRespond2261,I just called and they said it was only availa...,1
4,1cw69q2,l67a4tm,Strong_Hat_704,That's frustrating as not correct. Please cont...,1

1cw69q2 is completed
1cvvfht is started

,_submission,id,author,body,ups
0,1cvvfht,l4rs7ef,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cvvfht,l4t08c5,Popular-Football310,"To be honest, i think during the quarter $1,50...",7
2,1cvvfht,l4sc98m,Idkwhyimherelol10,Are you off or on campus ?,3
3,1cvvfht,l4t1x1b,Mediocre_Raisin_7672,Thank you for your honesty & kind reply. I've ...,1
4,1cvvfht,l4sctca,Mediocre_Raisin_7672,Most probably off campus. Because by the time ...,1
5,1cvvfht,l4t34yo,Popular-Football310,Whether it is real or a scam depends. Usually ...,2
6,1cvvfht,l4t3ybt,Mediocre_Raisin_7672,Thank you so much for your replies. I really a...,1
7,1cvvfht,l4y6xqv,letusc4968,"Honestly, if you look hard enough you can shar...",2
8,1cvvfht,l4y6ztn,letusc4968,[https://www.scu.edu/ocl/rental-listings/](htt...,2
9,1cvvfht,l4yesei,Mediocre_Raisin_7672,Thank you very much for this,1

1cvvfht is completed
1cvnupo is started

,_submission,id,author,body,ups
0,1cvnupo,l4qaqhe,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cvnupo,l4rj7s2,Mediocre_Raisin_7672,"Hi, I'm also an international student. I would...",1
2,1cvnupo,l4vpthn,Both_Alps1067,"Yup same here we can connect , dm",1
3,1cvnupo,l5hv836,SignalSuccess882,SCU MS CS Fall 2024 group link\n\nhttps://chat...,1
4,1cvnupo,l5yxhyl,Bright_Writer3121,"Same here , we can connect",1

1cvnupo is completed
1cvc73k is started

,_submission,id,author,body,ups
0,1cvc73k,l4occhu,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cvc73k is completed
1cv1fcg is started

,_submission,id,author,body,ups
0,1cv1fcg,l4mcfme,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cv1fcg is completed
1ctuiat is started

,_submission,id,author,body,ups
0,1ctuiat,l4ee73c,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ctuiat,l4esonu,Strong_Hat_704,https://www.zillow.com/homedetails/1048-Monroe...,1

1ctuiat is completed
1crz7sg is started

,_submission,id,author,body,ups
0,1crz7sg,l41em5s,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1crz7sg,l442626,Strong_Hat_704,Sent you a DM,1

1crz7sg is completed
1crafji is started

,_submission,id,author,body,ups
0,1crafji,l3wp2yo,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1crafji,l3xfh8y,holiztic,You like humidity and sweltering heat and lots...,8
2,1crafji,l3xcnzu,trish199,"My niece applied to both as well, and visited ...",5
3,1crafji,l3wxkrv,idkcat23,SCU for money alone. Umiami is so expensive.,3
4,1crafji,l3yw4dp,Big_Airline2241,Go where you would most like to live after gra...,4
5,1crafji,l3z3ynw,fame-so-lame,Scu without a doubt. Two things i can promise...,3
6,1crafji,l42teny,Leather_Special5345,I had the same choice and chose SCU. I'm OOS b...,3
7,1crafji,l3xflbx,holiztic,"Exactly. Wealthy students at both, but Miami i...",2
8,1crafji,l3yw74e,Big_Airline2241,For reference I go to Cal Poly lol so this is ...,3
9,1crafji,l3z404g,fame-so-lame,Scu is too just in a different way tbh lol,2
10,1crafji,l3zo98u,holiztic,Flashy in a different way? I think that’s the ...,1

1crafji is completed
1cr6t9l is started

,_submission,id,author,body,ups
0,1cr6t9l,l3vzkp6,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cr6t9l is completed
1cqr2oq is started

,_submission,id,author,body,ups
0,1cqr2oq,l3t5hwj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cqr2oq,l576uig,Skicrazy85,"I can't speak to your admission chances, once ...",2

1cqr2oq is completed
1cqgw8t is started

,_submission,id,author,body,ups
0,1cqgw8t,l3r88sv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cqgw8t,l3t0n1u,whoosh7,Interested! Texting you :),1

1cqgw8t is completed
1cp9tqh is started

,_submission,id,author,body,ups
0,1cp9tqh,l3jcyyr,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cp9tqh,l3jhjuz,Altruistic-Fudge-522,Actually very good maybe retake SAT that's the...,4
2,1cp9tqh,l3jqth6,lucatitoq,You’ll probably get in. Although my GPA was sl...,4
3,1cp9tqh,l3kus0d,holiztic,ED1 with your junior year GPA trend and ECs so...,2
4,1cp9tqh,l3mbirn,travs-scott,I think you’d get in EA,1
5,1cp9tqh,l3mvftz,IceonFir3,"1460, 3.96/4.23, 3 APs at the time of applicat...",1
6,1cp9tqh,l40iz6v,Unable_Complaint_340,"Got in with 3.6 unweighted, no test scores sub...",1
7,1cp9tqh,l4rl5yn,None,[deleted],1
8,1cp9tqh,l3st3l1,Embarrassed_Cherry56,Are you in Engineering? If so how do you like it?,1
9,1cp9tqh,l3syrca,Embarrassed_Cherry56,Good advice! tbh I don't think I'll retake the...,1
10,1cp9tqh,l3syilk,Embarrassed_Cherry56,Lmao I think you were an easy take for SCU.,1
11,1cp9tqh,l40rufp,Embarrassed_Cherry56,"Awesome, thanks man. Did you get into engineer...",1
12,1cp9tqh,l4t6nj9,Embarrassed_Cherry56,Awesome! Are you a part of the engineering pro...,1
13,1cp9tqh,l3xvs3n,lucatitoq,"Yup, mech. yeah I like it. Certainly not the b...",1
14,1cp9tqh,l3y5s04,Embarrassed_Cherry56,"Good to hear, unfortunately I already chose my...",1
15,1cp9tqh,l3yq508,lucatitoq,Sending you DM,1

1cp9tqh is completed
1cp2rg2 is started

,_submission,id,author,body,ups
0,1cp2rg2,l3i0shi,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cp2rg2,l3ihkef,mustafo_t,In this economy most people are struggling to ...,4

1cp2rg2 is completed
1cp760s is started

,_submission,id,author,body,ups
0,1cp760s,l3ivcmw,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cp760s is completed
1cp4m9e is started

,_submission,id,author,body,ups
0,1cp4m9e,l3iddjy,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cp4m9e,l44ifak,Full_Writing_1571,You should have received an email from SCU wit...,1

1cp4m9e is completed
1coy40r is started

,_submission,id,author,body,ups
0,1coy40r,l3h5qvn,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1coy40r,l3h9bsx,Dire1905,"Nah, but you can take chem 14 which is 1 quart...",5
2,1coy40r,l3i7imr,idkcat23,"No, just take 14. Trust me, you’ll need it later",1

1coy40r is completed
1cou84s is started

,_submission,id,author,body,ups
0,1cou84s,l3geb57,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cou84s,l3hvcev,Strong_Hat_704,https://www.zillow.com/homedetails/1048-Monroe...,1

1cou84s is completed
1coj9my is started

,_submission,id,author,body,ups
0,1coj9my,l3ed0qr,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1coj9my,l3ehekk,idkcat23,"SCU is on quarters, but generally there’s some...",1

1coj9my is completed
1co2wzt is started

,_submission,id,author,body,ups
0,1co2wzt,l3b6ttj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1co2wzt,l3ccn3b,The_Stone_Cold_Nuts,"Sh** happens, people change their minds, and b...",9
2,1co2wzt,l3bf52l,MoppusGirl,"I got the same thing, I think it’s a waitlist ...",5
3,1co2wzt,l3fels9,PrintOk8045,Paragraph three is what this letter is all abo...,3
4,1co2wzt,l3h3cdy,samurai64_,Would someone mind explaining what the differe...,2
5,1co2wzt,l3dl7a1,montereysand,"wdym by resending the letter of intent, upload...",1
6,1co2wzt,l3irezj,DLineHopeful,Nope.,1
7,1co2wzt,l3dn3ef,The_Stone_Cold_Nuts,Near the bottom of the letter is a sentence th...,1
8,1co2wzt,l3dp1qv,montereysand,"Thanks, I did that the moment I got the email ...",1

1co2wzt is completed
1co43kf is started

,_submission,id,author,body,ups
0,1co43kf,l3bfdwd,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1co43kf is completed
1cnphjy is started

,_submission,id,author,body,ups
0,1cnphjy,l38qpyy,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cnphjy is completed
1cn7eg1 is started

,_submission,id,author,body,ups
0,1cn7eg1,l355cpk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cn7eg1,l3768n4,Strong_Hat_704,https://www.zillow.com/homedetails/1048-Monroe...,1
2,1cn7eg1,l384vk1,Interesting-Meet-848,SCu has intern housing,1
3,1cn7eg1,l6su45q,wjohnwoo,Hi! Were you able to find housing? I am a stud...,1

1cn7eg1 is completed
1cmhmzn is started

,_submission,id,author,body,ups
0,1cmhmzn,l30c9jj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cmhmzn,l30lrh6,mumu588,Yes,1
2,1cmhmzn,l30oyv3,holiztic,Hope so! My son’s top 2,1
3,1cmhmzn,l3wch4e,Real-male-,"Yes, know plenty who did. And they can choose ...",1

1cmhmzn is completed
1cmg6zw is started

,_submission,id,author,body,ups
0,1cmg6zw,l301rt9,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cmg6zw is completed
1cm4xod is started

,_submission,id,author,body,ups
0,1cm4xod,l2xzz7m,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cm4xod,l36tyz2,Magellan_8888,It will be quite easy meeting people. I’m curr...,3
2,1cm4xod,l3wdc3k,Real-male-,The social scene is probably easier for female...,1
3,1cm4xod,l36unsf,Sufficient-Manager58,no wayyy. ok that is super helpful thank you. ...,2
4,1cm4xod,l36v9e3,Magellan_8888,"I actually didn’t transfer, I just know a fair...",2
5,1cm4xod,l36vmvj,Sufficient-Manager58,oh sorry i was under the impression were a tra...,2

1cm4xod is completed
1cm0o9u is started

,_submission,id,author,body,ups
0,1cm0o9u,l2x7cjp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cm0o9u,l2xgu8a,BaakCoi,The ones I use most often are the one in Benso...,1

1cm0o9u is completed
1clrlkn is started

,_submission,id,author,body,ups
0,1clrlkn,l2vfkcv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1clrlkn,l2wdrdw,Dismal_Method_5522,i don’t think a d at any university is conside...,5
2,1clrlkn,l2wdso1,Dismal_Method_5522,also look at the syllabus? and your schools re...,2
3,1clrlkn,l30j5vi,Main_Remove_7888,"No. In Spanish, that means no, FYI. Como se di...",2
4,1clrlkn,l3wcq1u,Real-male-,Contact the registrar's office and ask.,1

1clrlkn is completed
1cla72q is started

,_submission,id,author,body,ups
0,1cla72q,l2sb6px,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cla72q,l2sprzq,Curose,Should be listed in the housing section of the...,3
2,1cla72q,l2sss7e,GroundbreakingRow163,https://www.scu.edu/living/residential-living-...,3
3,1cla72q,l2vczab,BankUpbeat402,If you don't get villas is it automatic they'l...,1

1cla72q is completed
1cl8tna is started

,_submission,id,author,body,ups
0,1cl8tna,l2s28l9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cl8tna,l2v5dnp,SwedishAviator,"COEN is space limited, but since it’s one of t...",2

1cl8tna is completed
1cl7o0k is started

,_submission,id,author,body,ups
0,1cl7o0k,l2rua0p,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cl7o0k is completed
1cl2mra is started

,_submission,id,author,body,ups
0,1cl2mra,l2qw8r3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cl2mra,l2r6dy0,quertyquerty,"as a non christian, they dont force catholicis...",7
2,1cl2mra,l2r5p7u,revengeneer,I transferred from another school on the east ...,5
3,1cl2mra,l2r3u4y,EPIC_BATTLE_ROYALE,Hey there! \n\nGrad student here so I can't sp...,1

1cl2mra is completed
1ckg7od is started

,_submission,id,author,body,ups
0,1ckg7od,l2mpb9u,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ckg7od,l2mtt6a,Gatorpatch,There should be an email on the housing websit...,3
2,1ckg7od,l2pin86,Aggressive-Pack-3786,yea i applied for housing like 3 weeks before ...,3
3,1ckg7od,l2qaear,vanillaxsky,"Yea, email housing@scu.edu\nAnd say that you f...",3
4,1ckg7od,l2qv20v,JollyLover,Yes I emailed them thank you so much,1
5,1ckg7od,l2qv0ky,JollyLover,Ok yes I did this thank you so much,1
6,1ckg7od,l2r0ngo,Powerful-Ad5117,What ended up happening? I’m also in the same ...,1
7,1ckg7od,l2r4nkg,MediocreBrilliant514,Same here :(,1
8,1ckg7od,l2r9qjq,JollyLover,Pm,1
9,1ckg7od,l2r9qy8,JollyLover,Pm,1

1ckg7od is completed
1cka5vy is started

,_submission,id,author,body,ups
0,1cka5vy,l2likq4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cka5vy,l2lk7k5,BaakCoi,If you’ve taken any calculus in high school yo...,2
2,1cka5vy,l3jr5xc,lucatitoq,"Its pre calc, not calculus. Just Fyi",1
3,1cka5vy,l2ql6bs,vanillaxsky,When do you take the exam?,1
4,1cka5vy,l3n0ms5,Bliozard,Oh thanks. I was wondering if it will include ...,1
5,1cka5vy,l2qy395,BaakCoi,"I’m a junior now, so three years ago",1
6,1cka5vy,l2v3y2a,vanillaxsky,Well yes- but like when? Before school starts?...,1
7,1cka5vy,l2v8m8p,BaakCoi,"During the summer, probably June or July. It w...",1
8,1cka5vy,l3n0kdp,Bliozard,"Well as a current registering student, I'm not...",1

1cka5vy is completed
1cjumtp is started

,_submission,id,author,body,ups
0,1cjumtp,l2ig790,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cjumtp,l2krbcx,PineappleAncient6139,I am also looking for summer housing as well. ...,1
2,1cjumtp,l2la7qz,Strong_Hat_704,https://www.zillow.com/homedetails/1048-Monroe...,1
3,1cjumtp,l2laapl,Strong_Hat_704,It's also open to summer as long as departing ...,1
4,1cjumtp,l3lpdxr,violet-anonymous-826,Also in a similar boat! let me know if you fou...,1

1cjumtp is completed
1cjbvwu is started

,_submission,id,author,body,ups
0,1cjbvwu,l2eva0w,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cjbvwu,l2gtyvh,Next_Command3803,They do have the Health Professionals advising...,3
2,1cjbvwu,l2idrgv,iSezdis,"Your mom is a physician, doesn't she have an o...",1
3,1cjbvwu,l2lmv2t,venmomecheese,Right. She’s biased toward SCU because that’s ...,1
4,1cjbvwu,l2mcwvf,iSezdis,"The '80s were not as competitive academically,...",1

1cjbvwu is completed
1ciy4l9 is started

,_submission,id,author,body,ups
0,1ciy4l9,l2cdqxv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ciy4l9,l2cvx68,Infinite-Economist52,I got off the waitlist on Tuesday,5
2,1ciy4l9,l2d03ot,None,Things are moving,2

1ciy4l9 is completed
1ciwvbc is started

,_submission,id,author,body,ups
0,1ciwvbc,l2c4ize,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ciwvbc,l2c7nrd,holiztic,You’re too late to commit to SCU,9
2,1ciwvbc,l2dv8yp,DistributionStreet58,Going to be hard to find anyone with intimate ...,4
3,1ciwvbc,l2d5snl,Normiex5,What’s the career choice,3
4,1ciwvbc,l2dagc9,iSezdis,Depends where you are from. Student should sta...,2
5,1ciwvbc,l2cb50o,Alternative-Run6390,We deposited,-1
6,1ciwvbc,l2dagun,Chick-fil-A_spellbot,"It looks as though you may have spelled ""Chick...",-4
7,1ciwvbc,l2cor6i,holiztic,Then why still asking for comparisons?,4
8,1ciwvbc,l2cs0h8,Alternative-Run6390,UConn is still a possibility.,-1

1ciwvbc is completed
1ciqpfx is started

,_submission,id,author,body,ups
0,1ciqpfx,l2bc3e0,holiztic,"Within your school, yes. But in a different sc...",2
1,1ciqpfx,l2c7hj0,Real-male-,So you applied with an easier major so you'd b...,3
2,1ciqpfx,l2b2ceo,Long_Slong69,Yea,1
3,1ciqpfx,l2bc5pn,Bliozard,What does that mean?,1
4,1ciqpfx,l2c7lv5,Bliozard,Not too sure if it’s hard but I am admitted wi...,3
5,1ciqpfx,l2bcdyz,holiztic,If you are in Arts & Sciences and you want to ...,1
6,1ciqpfx,l2d7k7h,Real-male-,Sweet!,0
7,1ciqpfx,l2bcgu7,Bliozard,Oh. What kind of problems?,1
8,1ciqpfx,l2bcj4m,holiztic,Might not be able to change,1
9,1ciqpfx,l2bckum,Bliozard,Oh. Are there requirements to do so?,1
10,1ciqpfx,l2bcv6o,holiztic,"From what we’ve been told, there has to be a s...",3
11,1ciqpfx,l2bd0sy,Bliozard,So if there’s no space left in Engineering sch...,1
12,1ciqpfx,l2cqkgg,holiztic,Correct for changing major. Not sure about dou...,1
13,1ciqpfx,l2cqmiy,Bliozard,Thanks for the effort!,2

1ciqpfx is completed
1ci9enw is started

,_submission,id,author,body,ups
0,1ci9enw,l27nskr,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1ci9enw is completed
1ci5mph is started

,_submission,id,author,body,ups
0,1ci5mph,l270vbk,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1ci5mph is completed
1chxhvo is started

,_submission,id,author,body,ups
0,1chxhvo,l25habn,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1chxhvo,l25tutx,BaakCoi,Juniors can only live in apartment-style build...,6
2,1chxhvo,l25jutx,austin_kimchi,"Just contacted housing, apprently it's the onl...",2
3,1chxhvo,l26085s,austin_kimchi,I see. Thank you for the insight!,1
4,1chxhvo,l26nlgf,Sufficient-Manager58,is it the only housing available overall? or f...,2
5,1chxhvo,l26weqr,austin_kimchi,"The housing office vaguely replied, the locati...",2
6,1chxhvo,l2a7o0i,Remarkable-Falcon672,Hi I’m also a potential sophomore transfer. Do...,1
7,1chxhvo,l2a9no4,Sufficient-Manager58,"ya so i called, don’t know the specific option...",3

1chxhvo is completed
1chuhl7 is started

,_submission,id,author,body,ups
0,1chuhl7,l24vkal,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1chuhl7,l25ite4,holiztic,Totally different weather/campuses AND the big...,6
2,1chuhl7,l25qdwl,ZealousidealMonk9690,This is humourous to me because my husband wen...,3
3,1chuhl7,l29p1ml,fame-so-lame,Leavey was an awesome business school. If you...,3
4,1chuhl7,l24z3gc,Normiex5,Can you rlly afford 62k a year for scu? 😭,2
5,1chuhl7,l2idcc7,iSezdis,Are you from the West Coast or East Coast? The...,1
6,1chuhl7,l255zt2,Infinite-Economist52,you’d be surprised with the amount of kids pay...,4
7,1chuhl7,l2idq4l,CarnageTitan,"I am from Cali, fremont so pretty close to scu...",1
8,1chuhl7,l25j0bh,holiztic,We were so happy our kid’s merit scholarship k...,1

1chuhl7 is completed
1chbf36 is started

,_submission,id,author,body,ups
0,1chbf36,l21fcmv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1chbf36,l21q6lr,BaakCoi,"Dorms are closed over winter break, but they’r...",4
2,1chbf36,l220qkc,EggplantExciting5036,Thank you,1
3,1chbf36,l21sko3,EggplantExciting5036,Thank you very much. If a freshman or sophomor...,1
4,1chbf36,l21wcg1,BaakCoi,"The villas are only for upperclassmen, but sop...",2

1chbf36 is completed
1chfcti is started

,_submission,id,author,body,ups
0,1chfcti,l224f7l,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1chfcti is completed
1ch5383 is started

,_submission,id,author,body,ups
0,1ch5383,l206d5y,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ch5383,l20q60j,Medium_Trash,Always worth a shot! Ik many will take the fac...,5
2,1ch5383,l22f4h7,iSezdis,I prefer trying and being rejected rather than...,3
3,1ch5383,l21471y,No-Cranberry-9063,I sure hope you do! Don't miss out on at least...,2
4,1ch5383,l21z7r8,Wonderful_Ad6675,I went to ucd as a transfer. I really regret n...,2
5,1ch5383,l26qrqp,Ok_Perspective8943,it’s soo much fun rushing!! It’s a great way t...,2
6,1ch5383,l20qhbx,BankUpbeat402,Thank you! Is the Greek life here pretty inten...,1
7,1ch5383,l20ua79,Medium_Trash,No problem! I don’t have personal experience r...,2

1ch5383 is completed
1cgf3dj is started

,_submission,id,author,body,ups
0,1cgf3dj,l1v8zfp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cgf3dj,l1w5wpc,Next_Command3803,I’m going to be a public health major - progra...,2
2,1cgf3dj,l1y57pb,mitochondriacyclist,"Great, thanks :)",1

1cgf3dj is completed
1cf330v is started

,_submission,id,author,body,ups
0,1cf330v,l1mewah,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cf330v,l1oc6gc,SwedishAviator,It’s going to be challenging as we don’t finis...,4

1cf330v is completed
1cenc4r is started

,_submission,id,author,body,ups
0,1cenc4r,l1jmbch,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cenc4r,l1kr70b,5torm,Leavey is one of the best business schools in ...,8
2,1cenc4r,l1jyrp4,tiramisugoi,Where are you getting that 50% number? The ove...,7
3,1cenc4r,l1l4i54,holiztic,"The acceptance rate is dropping every year, an...",7
4,1cenc4r,l1kjlix,Dangerous_Medicine26,CAS is very easy to get in. Business and engin...,3
5,1cenc4r,l1lddus,None,Your classmates parents are billionaires and m...,4
6,1cenc4r,l1nvuff,fame-so-lame,10/10 would recommend the business school. Ea...,2
7,1cenc4r,l22h10y,iSezdis,The main issue with SCU is that it's ***expens...,2
8,1cenc4r,l1o7psy,TMobile_Loyal,Easily top 100,1
9,1cenc4r,l1jzc4s,Feeling-Chemist-7545,"And from your 44% and 28% statistic, what woul...",0
10,1cenc4r,l1qjnqk,5torm,"Easily top 20, in fact",1
11,1cenc4r,l1k2qs9,lively_sugar,Think about it for a second. How is it possibl...,4
12,1cenc4r,l1k05qx,Infinite-Economist52,So you think lower acceptance rate= good for a...,1
13,1cenc4r,l56zz5n,Mnememem,Does it make sense to study MSBA as an interna...,0
14,1cenc4r,l1k0bpf,Feeling-Chemist-7545,"No, but I do believe it is a factor and it mad...",0
15,1cenc4r,l570ftu,5torm,"I have no idea, I got my communication degree ...",1
16,1cenc4r,l1k0no4,Infinite-Economist52,50% is the overall acceptance rate across all ...,1

1cenc4r is completed
1cd43rc is started

,_submission,id,author,body,ups
0,1cd43rc,l19frcd,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cd43rc,l19na78,lucatitoq,I think you did all that you can. Don’t push i...,6
2,1cd43rc,l19v5cd,Infinite-Economist52,It’s a good sign if you’ve been communicating ...,5
3,1cd43rc,l1zyloj,Particular-Support64,Yo bro I got off the waitlist and I think it w...,2
4,1cd43rc,l1bf646,iSezdis,Did you EDII and were waitlisted? How do you k...,1
5,1cd43rc,l1cduih,MoreLeftShark,Know any influential alumni? Kidding/not kiddi...,1
6,1cd43rc,l3dov83,montereysand,thanks!,1
7,1cd43rc,l3dor57,montereysand,"yeah, as u stated its actually my admissions c...",1
8,1cd43rc,l3dolzz,montereysand,thanks so much,1
9,1cd43rc,l3edpzr,iSezdis,"If you were waitlisted o Feb. 15, I'm assuming...",1

1cd43rc is completed
1cd3a17 is started

,_submission,id,author,body,ups
0,1cd3a17,l19a3e5,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cd3a17,l1bftn2,iSezdis,[CollegeDad2028](https://www.reddit.com/user/C...,2
2,1cd3a17,l1a3b74,None,[deleted],1

1cd3a17 is completed
1cd35ys is started

,_submission,id,author,body,ups
0,1cd35ys,l199d4f,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1cd35ys is completed
1cb3emk is started

,_submission,id,author,body,ups
0,1cb3emk,l0vp2pm,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cb3emk,l154sd0,sforsuccess,SCU offers very convenient programs in person ...,2
2,1cb3emk,l0y3d56,Mishmello,Are you looking to get an MBA with a concentra...,1
3,1cb3emk,l169iej,KyleMoonBlade,Thank you for the insight! Do you happen to kn...,1
4,1cb3emk,l3bp6jn,sforsuccess,"Sorry, just got to this. Not sure u/KyleMoonBl...",1

1cb3emk is completed
1cayipj is started

,_submission,id,author,body,ups
0,1cayipj,l0uwdzj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cayipj,l0x5xfp,CWS2022,DM Me - I can have you email my son at SCU and...,1
2,1cayipj,l170nmj,Strong_Hat_704,We are letting the below property over summer ...,1
3,1cayipj,l1ce93i,MoreLeftShark,Did you try this? [https://scu.switchboardhq.c...,1

1cayipj is completed
1camxec is started

,_submission,id,author,body,ups
0,1camxec,l0srr0p,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1camxec,l0wkrmc,dencalin,"Dunne was renovated during the summer of 2016,...",1

1camxec is completed
1cacc2z is started

,_submission,id,author,body,ups
0,1cacc2z,l0qvxiv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1cacc2z,l0ug2pp,austin_kimchi,"Not sure if have figured it out yet but, \n1....",1
2,1cacc2z,l0x8wqt,vanillaxsky,Well yea but the instructions say to go back t...,1
3,1cacc2z,l0xyhwz,austin_kimchi,"I believe if you accept your admission offer, ...",1
4,1cacc2z,l1151x2,vanillaxsky,Ok thank you,1

1cacc2z is completed
1c9q6ja is started

,_submission,id,author,body,ups
0,1c9q6ja,l0mxw21,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c9q6ja,l0nwasg,jkru396,Maybe this will help.\n\n[https://www.scu.edu/...,3
2,1c9q6ja,l0p1uyc,missionbmw,They also over XXL beds on request.,2
3,1c9q6ja,l0nzlpy,holiztic,It did! Thanks! Looks like extra long twins in...,5
4,1c9q6ja,l0q0vzx,holiztic,That’s great to know!,1

1c9q6ja is completed
1c9s7om is started

,_submission,id,author,body,ups
0,1c9s7om,l0nc7hm,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c9s7om,l0qhk6i,Aryan_puranik,"I too got an accept. If you finalise scu, let’...",1

1c9s7om is completed
1c9njee is started

,_submission,id,author,body,ups
0,1c9njee,l0mffdd,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c9njee,l0vt5wr,ayana_sh,"Hi, I am too! I was searching for a WhatsApp g...",2

1c9njee is completed
1c9p9zy is started

,_submission,id,author,body,ups
0,1c9p9zy,l0mrkco,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c9p9zy,l0pnjrs,iSezdis,My child went to a sports camp at UCSC and the...,3
2,1c9p9zy,l0mxana,holiztic,Which school does he like better? They are dra...,3
3,1c9p9zy,l0p2utj,Gnocci17,Any idea what he wants to study?,0
4,1c9p9zy,l0rj3in,tinacarina1999,He did get into UC Riverside which does have a...,2
5,1c9p9zy,l0olwhf,Gundam_net,This is right. The person who would like one ...,4
6,1c9p9zy,l0p30al,tinacarina1999,He would like to study business finance and a ...,1
7,1c9p9zy,l0t35ug,iSezdis,"Best wishes, lots of decisions. Great that he ...",1
8,1c9p9zy,l0p8zu7,Gnocci17,Gotcha - the SCU business school offers an “ac...,3
9,1c9p9zy,l0u008e,Obvious-Ad-6597,What class were you in? And is it actually eas...,1

1c9p9zy is completed
1c8gspc is started

,_submission,id,author,body,ups
0,1c8gspc,l0eg9eh,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1c8gspc is completed
1c816vl is started

,_submission,id,author,body,ups
0,1c816vl,l0bhy3u,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c816vl,l0d7ahf,tm602502,"First of all, is there a peer education sessio...",1
2,1c816vl,l0d7ho4,Which_Video833,"Thanks, it appears not for ecen121",1
3,1c816vl,l0dd3up,tm602502,Is Dr. Wolfe the instructor? It may help to co...,1
4,1c816vl,l0dd8pl,Which_Video833,Thanks!,1

1c816vl is completed
1c7nns0 is started

,_submission,id,author,body,ups
0,1c7nns0,l091dez,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c7nns0,l09h50f,Ch8ngus,An SCU CE degree for 20k is an absolute bargai...,19
2,1c7nns0,l095x1y,tm602502,The quality of teaching and your peers >>>> Ca...,4
3,1c7nns0,l0d5hd5,LS4delorean,SCU’s career center should be renamed the come...,3
4,1c7nns0,l0bzzjl,ActivePlastic4326,No! I currently go there. I am in Comp science...,2
5,1c7nns0,l0dtblv,DLineHopeful,SCU bro take the loan its worth,2
6,1c7nns0,l0f3jxw,iSezdis,"Wow, that is a bargain price for SCU. We are p...",2
7,1c7nns0,l0h9x9o,WuPeter6687298,"If you go to SCU, my suggestion is:\n\nTry you...",2
8,1c7nns0,l0ag5mh,holiztic,SCU 100% over CP Pomona! Much better graduatio...,2
9,1c7nns0,l09hmt5,Formal_Asparagus_151,Really? How easy was it to get a career right ...,1
10,1c7nns0,l0980vx,Formal_Asparagus_151,"You make a fair point, would you say SCU has g...",1
11,1c7nns0,l0d9rck,Formal_Asparagus_151,This is the first I've heard of something bad ...,1
12,1c7nns0,l0d6zx5,None,[deleted],0
13,1c7nns0,l0c0vxk,ActivePlastic4326,Also don’f expect to find any friends in engin...,2
14,1c7nns0,l0d9duv,Formal_Asparagus_151,Really? This is the first I've heard of this s...,1
15,1c7nns0,l0dtskx,Formal_Asparagus_151,"If it is okay, what reasons make you say that?",2
16,1c7nns0,l0h58bt,Formal_Asparagus_151,Wow! You provided much valuable information he...,2
17,1c7nns0,l0hbgad,Formal_Asparagus_151,Thank you for this advice! I wasn't sure how t...,1
18,1c7nns0,l0azpxr,Formal_Asparagus_151,I did not account for the costs of staying hom...,1
19,1c7nns0,l09im49,Ch8ngus,Idk bruh I’m a freshman lmao. But just look up...,10
20,1c7nns0,l0igpoc,Robert2737,I got a masters in ee from scu. Employer call...,5
21,1c7nns0,l0995kt,tm602502,I teach at that very department where you’re o...,5
22,1c7nns0,l0dacpz,LS4delorean,Just trying to help from first hand pre AND po...,3
23,1c7nns0,l0datn8,LS4delorean,Big aerospace and defense primes also go to CP...,2
24,1c7nns0,l0d8n99,kmown,It’s in LA county,2
25,1c7nns0,l0jqqjz,Formal_Asparagus_151,Really?,1
26,1c7nns0,l0dbo3l,None,[deleted],2
27,1c7nns0,l0du42x,DLineHopeful,The location will make landing top tech intern...,2
28,1c7nns0,l0kowst,iSezdis,"You're welcome, glad to be of help, thanks for...",1
29,1c7nns0,l0hi1p3,WuPeter6687298,No worry. The first step is to write a profess...,2
30,1c7nns0,l0b58x8,holiztic,Happy to help!,2
31,1c7nns0,l0dr229,Ok-Orange8594,You also have to realize SCU is in the Bay Are...,5
32,1c7nns0,l0png8o,Friendly_Print7319,How did they find u???,2
33,1c7nns0,l099zk8,Formal_Asparagus_151,"Oh wow! Well, from a teacher's point of view t...",2
34,1c7nns0,l0dbwsh,Formal_Asparagus_151,I appreciate all of your advice! I did not acc...,1
35,1c7nns0,l0dbucp,None,[deleted],0
36,1c7nns0,l0dc0bs,Formal_Asparagus_151,I will keep this in mind!,1
37,1c7nns0,l0dxz86,Formal_Asparagus_151,SCU's location does seem incredibly advantageo...,1
38,1c7nns0,l0hiavh,Formal_Asparagus_151,Thank you very much!!!,1
39,1c7nns0,l0pnnyd,Robert2737,I assume they got my contact info from the sc...,2
40,1c7nns0,l09bm8w,tm602502,"The classes are usually small, so the teacher-...",5
41,1c7nns0,l0dch31,LS4delorean,like tbh seeing it’ll only cost you $20k is mi...,3
42,1c7nns0,l0dcrsc,LS4delorean,The ultimate city for an aero engineer to star...,1
43,1c7nns0,l0hriso,WuPeter6687298,NP. Also try to get a pretty girl from SCU. Th...,1
44,1c7nns0,l0pnpm8,Friendly_Print7319,Damn ur probably pretty cracked then,2
45,1c7nns0,l09ceyx,Formal_Asparagus_151,That's great to hear. I enjoy smaller class si...,1
46,1c7nns0,l0ddcaz,Formal_Asparagus_151,This is very encouraging to hear! Thank you fo...,1
47,1c7nns0,l0po5e4,Robert2737,My gpa wasn’t that good. I had 20 years of in...,2
48,1c7nns0,l09eudg,tm602502,NP! Hope to see you joining us. I’m sure you’d...,3
49,1c7nns0,l0po75p,Friendly_Print7319,"I see, what were you doing in the industry?",1
50,1c7nns0,l0po7h5,Friendly_Print7319,"I see, what were you doing in the industry?",1
51,1c7nns0,l0po9et,Robert2737,Integrated circuit designer.,1
52,1c7nns0,l0pom2a,Friendly_Print7319,Nice! What do you think about the ee industry ...,1
53,1c7nns0,l0puri4,Robert2737,I started out doing civilian work and ended up...,1

1c7nns0 is completed
1c7sqpv is started

,_submission,id,author,body,ups
0,1c7sqpv,l09wkxl,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1c7sqpv is completed
1c6m4b0 is started

,_submission,id,author,body,ups
0,1c6m4b0,l01w3yg,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c6m4b0,l0yetbx,CWS2022,possible masterbedroom avail near SCU $1500 wi...,1
2,1c6m4b0,l06mb4v,Distinct-Friend8441,"Same here, please Dm if you have a place to su...",1
3,1c6m4b0,l0ja1o3,sforsuccess,"Folks, SCU has an intern housing as part of a ...",1
4,1c6m4b0,l0yer1j,CWS2022,Possible Masterbedroom avail June to end of Au...,1

1c6m4b0 is completed
1c58iun is started

,_submission,id,author,body,ups
0,1c58iun,kzsid0t,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c58iun,kzyobg6,MoreLeftShark,Yeah they won’t know their numbers and how man...,3

1c58iun is completed
1c4d7bn is started

,_submission,id,author,body,ups
0,1c4d7bn,kzmu9js,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c4d7bn,kzsgiwt,Glum_Goal_8154,if you can live on campus for your first year ...,3
2,1c4d7bn,kzssn3o,Idkwhyimherelol10,I really advise you live on campus just for yo...,5
3,1c4d7bn,kzn88zh,Long_Slong69,Fuckedddddd,2
4,1c4d7bn,kzqjcws,iSezdis,A friend's child is autistic so she lives at h...,1

1c4d7bn is completed
1c412dd is started

,_submission,id,author,body,ups
0,1c412dd,kzkkfxh,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c412dd,kznawal,Mishmello,I’m in my 2nd quarter of the online MBA progra...,2
2,1c412dd,kznc7t2,FlowerspowersArg,I’m on my second quarter of the online mba ful...,1

1c412dd is completed
1c3zz9s is started

,_submission,id,author,body,ups
0,1c3zz9s,kzkcw23,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c3zz9s,kzkl1dx,newmsrd,outsiders will tell you it's not possible but ...,26
2,1c3zz9s,kzmgjql,AblazeRabbit,Back when I was at SCU we had a couple guys in...,4
3,1c3zz9s,kzxjr37,Present_Constant1264,I have friends in every frat and I can say wit...,3
4,1c3zz9s,kzqde49,themexpride,There's the co-ed and professional fraternitie...,2
5,1c3zz9s,kzl7kt4,Puzzleheaded-Cry-253,This is what I was hoping to hear! Bless up,10
6,1c3zz9s,kzqilrt,iSezdis,"Um, no. You are a Computer Science/Engineering...",0
7,1c3zz9s,l046jxz,Real-male-,Bi is different than gay. F-word occasionally ...,2
8,1c3zz9s,kzxjmsj,Present_Constant1264,I know at least one engineering major in each ...,4
9,1c3zz9s,kzu76yb,newmsrd,Ha! Don't make assumptions based on my major! ...,2

1c3zz9s is completed
1c3hvs9 is started

,_submission,id,author,body,ups
0,1c3hvs9,kzh0kyx,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c3hvs9,kzuxlzp,None,"easy asf, it’s completely non-technical",1

1c3hvs9 is completed
1c3gwnp is started

,_submission,id,author,body,ups
0,1c3gwnp,kzgtilt,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c3gwnp,kzs2hba,TopDirector5815,Yeah. If it’s a single room then 1500 is about...,1

1c3gwnp is completed
1c2tb64 is started

,_submission,id,author,body,ups
0,1c2tb64,kzc9i9l,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c2tb64,kzckacj,JJYellowShorts,I would say the library. Tons of open space an...,4
2,1c2tb64,kzf6ztp,holiztic,We have an Airbnb 3BR house reserved for move-...,4
3,1c2tb64,kzheu60,danielbcook,It’s a very compact campus. Your kids could pr...,3
4,1c2tb64,kzqqm8g,iSezdis,I think SCU has a shadow program so they can f...,3
5,1c2tb64,l0pt01r,GroundbreakingRow163,The Sterling Inn is right at the corner of The...,1
6,1c2tb64,kzfgdpg,Legend225,Why would students know? We have dorms or peop...,-2
7,1c2tb64,kzevqq3,derwoodfull,"Sonesta is across the street -- not fancy, but...",1
8,1c2tb64,kzcl6tx,Gottagiggle,I mean what hotel to stay at. But good tip abo...,2
9,1c2tb64,kzqxhfy,iSezdis,"FYI OP, [The Hut](https://www.yelp.com/biz/the...",2
10,1c2tb64,kzrjy3v,iSezdis,"I looked it up, appears they may have started ...",1
11,1c2tb64,kzfnvqy,Gottagiggle,Who peed in your Cheerios? Lots of students ha...,7
12,1c2tb64,kzeozrg,teaghad,There is some nice hotels in Santana Row but t...,1
13,1c2tb64,kzfo3wo,Legend225,Yeah but what I'm saying is that you can just ...,-2
14,1c2tb64,kzfqd42,Gottagiggle,I did that. And wanted some local feedback. If...,5
15,1c2tb64,kzgo1gt,scubroncomama,"For location, you can't beat the Sonesta Hotel...",6
16,1c2tb64,kzh727p,Gottagiggle,Thank you,2

1c2tb64 is completed
1c2lc6t is started

,_submission,id,author,body,ups
0,1c2lc6t,kzaqm6w,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c2lc6t,kzaxrlx,idkcat23,I would say this is true most of the time. Off...,3
2,1c2lc6t,kzbeout,Cultural_Person,In my experience curves in stem classes have b...,2

1c2lc6t is completed
1c2jwpt is started

,_submission,id,author,body,ups
0,1c2jwpt,kzagnsb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c2jwpt,kzarqyk,Technical-Reindeer86,I got a 13k scholarship and I applied EA. I go...,3
2,1c2jwpt,kzaxyho,Unlucky-Sample-8582,I applied ED and got merit aid,3
3,1c2jwpt,kzc4loy,Obvious-Baker1731,Just apply ea honesty,1
4,1c2jwpt,kzf7yil,holiztic,"My son applied EA and (no need aid, no demogra...",1
5,1c2jwpt,kzasyup,Technical-Reindeer86,I’m also not a minority or low-income. They gi...,6
6,1c2jwpt,kzcqux4,If_it_were_me_,Not everyone gets in EA. I had a new SCU admis...,2
7,1c2jwpt,kzft217,iSezdis,Did you read the question? It's not about EA. ...,3
8,1c2jwpt,kzcr8ov,If_it_were_me_,That's what I heard too but anecdotal evidence...,2
9,1c2jwpt,kzglg1k,holiztic,I read it but can’t answer about ED merit offe...,1
10,1c2jwpt,kzd092p,Technical-Reindeer86,That could be true but I’m not religious nor d...,2

1c2jwpt is completed
1c2jwhv is started

,_submission,id,author,body,ups
0,1c2jwhv,kzagmdo,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1c2jwhv is completed
1c22i9j is started

,_submission,id,author,body,ups
0,1c22i9j,kz769si,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c22i9j,kz8kq6g,JJYellowShorts,Santa Clara is way more fun than UCSC all ppl ...,12
2,1c22i9j,kz8o44s,salemochi,I had to make the same choice! I chose UCSC be...,5
3,1c22i9j,kz7bcyz,Mishmello,You’re young take the fun option. \n\nI grew u...,4
4,1c22i9j,kzaqc14,Fuzzy-Ad-9788,I also had to decide between UCSC and SCU for ...,3
5,1c22i9j,kzaywa2,asessdsssssssswas,I’ve taught at both. My students graduating sc...,3
6,1c22i9j,kzbc0yn,iSezdis,"""UC Santa Cruz's campus it looks amazing."" Don...",3
7,1c22i9j,kzcazrt,salemochi,"Yeah, campus buildings suck unless you're in t...",1

1c22i9j is completed
1c1sise is started

,_submission,id,author,body,ups
0,1c1sise,kz5d3m4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c1sise,kz6ai86,Strong_Hat_704,We have an apartment that will have students f...,1
2,1c1sise,l06my7m,Distinct-Friend8441,DM'd,1
3,1c1sise,l0t62cv,Ernst_Granfenberg,Are overnight guests allowed?,1

1c1sise is completed
1c179n2 is started

,_submission,id,author,body,ups
0,1c179n2,kz1c2k7,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c179n2,kz5poif,Legend225,Eh I mean I haven't met any elitists other tha...,7
2,1c179n2,kz1d5cu,Present_Constant1264,Depends.\n\nIf you're around like greek life t...,14
3,1c179n2,kz2qcx0,Sure_Instance1548,if you're a person of color and really value d...,4
4,1c179n2,l22ed1e,If_it_were_me_,"Well, SCU is a private school, it's not a CalS...",2
5,1c179n2,kzsxfx8,iSezdis,Shouldn't you tour the campus to find out for ...,1
6,1c179n2,kz3eki8,stickleaf,Yes,-1
7,1c179n2,kz1p1i0,lucatitoq,"Yeah, most of the engineering kids I’m friends...",10
8,1c179n2,kz3kwd3,ExcellenttRectangle,There are definitely a significant amount of i...,9
9,1c179n2,kz6qykz,Gundam_net,But they won't stay ignorant after the class. ...,3

1c179n2 is completed
1c17jx9 is started

,_submission,id,author,body,ups
0,1c17jx9,kz1dprh,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c17jx9,kz1j6a9,New-Pollution3778,How much are you paying as a transfer?,2

1c17jx9 is completed
1c0yo6e is started

,_submission,id,author,body,ups
0,1c0yo6e,kyzp1wp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c0yo6e,kyzr3pb,wjohnwoo,I have a room in my apartment that is availabl...,2
2,1c0yo6e,kz17uhj,New-Pollution3778,What kind of internship,1
3,1c0yo6e,l06n5bp,Distinct-Friend8441,same here,1
4,1c0yo6e,kyzt45d,New-Solution5759,Can I send you a DM?,1
5,1c0yo6e,kz575nz,New-Solution5759,It's a software engineering role,1
6,1c0yo6e,kyzt5t5,wjohnwoo,Yes of course!,2

1c0yo6e is completed
1c0i1jr is started

,_submission,id,author,body,ups
0,1c0i1jr,kywfp8q,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1c0i1jr is completed
1c0ogl0 is started

,_submission,id,author,body,ups
0,1c0ogl0,kyxnhs3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c0ogl0,kyy5197,Legend225,Campisi,5
2,1c0ogl0,kyy70mx,JJYellowShorts,If you really don’t want to clean your own bat...,3
3,1c0ogl0,kz1am2a,Present_Constant1264,I think Dunne has the best of all worlds - it'...,1
4,1c0ogl0,kzsy21e,iSezdis,"No, the newer dorms all have their own bathroo...",1
5,1c0ogl0,kz1agtn,Present_Constant1264,"Dunne is not shitty, I'd say it is the nicest ...",2
6,1c0ogl0,kzdfcq7,MoreLeftShark,And it has a/c!,1
7,1c0ogl0,kzsyepv,iSezdis,"Wouldn't call it ""modern"", it's old school but...",1

1c0ogl0 is completed
1c0co99 is started

,_submission,id,author,body,ups
0,1c0co99,kyvkwpz,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1c0co99,kyvq88p,JJYellowShorts,If you’re a girl you will get into every party...,13
2,1c0co99,kyvvz7r,Gundam_net,SCU isn't supposed to have greek life... stude...,3
3,1c0co99,kz1a6c5,Present_Constant1264,Sororities are honestly pretty low-key here li...,1
4,1c0co99,kzsysl7,iSezdis,My son is in a frat. He says even when they ha...,1
5,1c0co99,kz19qq5,Present_Constant1264,"Right, that's why they call it ""off-campus"" fr...",2
6,1c0co99,kz1bw05,Next_Rain_8721,Thank you! So you wouldn’t say it’s difficult ...,1
7,1c0co99,kz19xhx,Gundam_net,It's definitely not. Most schools have greek ...,5
8,1c0co99,kz1cevh,Present_Constant1264,"Friend groups form naturally, it's definitely ...",1
9,1c0co99,kz1azzt,Present_Constant1264,"I mean idk. SCU has ""on-campus"" fraternites/so...",1
10,1c0co99,kz1e500,Next_Rain_8721,Thank you ☺️,1
11,1c0co99,kz1bbsi,Gundam_net,It's definitely different man. Business frats...,3

1c0co99 is completed
1bzvrwj is started

,_submission,id,author,body,ups
0,1bzvrwj,kysakfo,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bzvrwj,kyxlfia,aztec1598,[Palmer Chiropractic Clinics](https://www.palm...,0
2,1bzvrwj,kyxlhb7,aztec1598,Here is a link for those looking to schedule a...,1

1bzvrwj is completed
1bzuq3y is started

,_submission,id,author,body,ups
0,1bzuq3y,kys33hq,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bzuq3y,kyxoh9v,EffectivePeach,3L here - I applied right at my deadline in Fe...,2

1bzuq3y is completed
1bza393 is started

,_submission,id,author,body,ups
0,1bza393,kyoexgf,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bza393,kypfgde,Leather_Special5345,I’d check with the university you plan to tran...,3
2,1bza393,kyxar5k,EasyRecording6049,I transferred out from SCU last year to UCSD a...,1
3,1bza393,kz1are3,Present_Constant1264,"I know someone who transferred to USC, don't k...",1
4,1bza393,kyog95v,iSezdis,How could anyone possibly help? Experiences va...,-5
5,1bza393,kyz0rpi,Educational_Set_8808,"Did you do a lower-division transfer, or trans...",1
6,1bza393,kyogpf1,Educational_Set_8808,"Ahh I'm really sorry, I brain farted and asked...",1
7,1bza393,kyz9izn,EasyRecording6049,Junior transfer,1
8,1bza393,kyokkms,iSezdis,Looks the same to me. What are you asking? The...,-5
9,1bza393,kz0qtk5,Educational_Set_8808,"Do you mind me asking why? If you can't, that'...",1
10,1bza393,kypcxnr,Educational_Set_8808,"I’m talking about transferring, like if people...",3
11,1bza393,kyplb60,Leather_Special5345,He/She is clearly asking about the transfer pr...,3
12,1bza393,kz0vmy3,EasyRecording6049,Data science as an actual major and department...,1
13,1bza393,kyplm8q,Leather_Special5345,You need to contact the school/s you’re consid...,1
14,1bza393,kypv9tv,iSezdis,They added details after I added my comment. I...,-6
15,1bza393,kzau7fd,Educational_Set_8808,How were you able to successfully transfer? UC...,1
16,1bza393,kypxgu5,None,[removed],1
17,1bza393,kzk3hmn,EasyRecording6049,I ended up in UC San Diego. I had a 3.928 GPA ...,1
18,1bza393,kyq896f,ABC-in-NorCal,I don’t see any anger. I think you are the ang...,1
19,1bza393,l1lmxxt,Educational_Set_8808,Computer Science. It’s going to be extremely t...,1
20,1bza393,kyqjx6u,Leather_Special5345,They added details after I added my comment. I...,1
21,1bza393,l1qrdxh,EasyRecording6049,Sure,1
22,1bza393,l1qvdhv,Educational_Set_8808,Reddit does not allow me to chat/DM you.,1
23,1bza393,l1taiwe,EasyRecording6049,Sent DM,1

1bza393 is completed
1bysogi is started

,_submission,id,author,body,ups
0,1bysogi,kylb6sf,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bysogi,kyxyljw,Cultural_Person,This schools location only (slightly) helps yo...,3
2,1bysogi,kz5ekw9,UsefulVariation5508,Do these companies not prefer SCU graduates?,1
3,1bysogi,kzbphou,holiztic,If you google Santa Clara University and scrol...,1
4,1bysogi,kz9k0ld,Cultural_Person,"Some companies do prefer SCU grads, specifical...",1
5,1bysogi,kzeg1t9,Cultural_Person,None of those companies are at our career fair...,1
6,1bysogi,kzf67pq,holiztic,Interesting! I guess it’s not really that impo...,1

1bysogi is completed
1bz2qqa is started

,_submission,id,author,body,ups
0,1bz2qqa,kyn2pkb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bz2qqa,kyofh4e,iSezdis,Write to your SCU counselor or phone the admis...,1
2,1bz2qqa,kyqe579,Leo_Chen_zy,You'll be fine,1
3,1bz2qqa,kynamnl,JJYellowShorts,We are on the quarter system so you don’t have...,1
4,1bz2qqa,kyom31m,SmidIsMid,not failing I meant like a 3.4 - 3.6 UW,1
5,1bz2qqa,kza29pc,holiztic,They didn’t indicate if the 3.4-3.6 would be f...,1
6,1bz2qqa,kynj2ef,holiztic,"I think this is an incoming freshman, talking ...",6
7,1bz2qqa,kyp0glw,iSezdis,Why don't you just call them? They will find o...,2
8,1bz2qqa,kyp0owo,holiztic,If your 3-year 4.0 cumulative drops to 3.5 tot...,2
9,1bz2qqa,kyom42w,SmidIsMid,ye,2

1bz2qqa is completed
1byptue is started

,_submission,id,author,body,ups
0,1byptue,kykuyvz,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1byptue is completed
1by7lxy is started

,_submission,id,author,body,ups
0,1by7lxy,kyhekp8,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1by7lxy,kyhg4vh,Obvious-Baker1731,Def scu,5
2,1by7lxy,kyhjqkb,idkcat23,"scu, there’s no better place in the US to be f...",3
3,1by7lxy,kylfe1r,iSezdis,You really should tour both schools to feel th...,5

1by7lxy is completed
1byau2a is started

,_submission,id,author,body,ups
0,1byau2a,kyi214y,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1byau2a,kyki7rg,John6417,There are a number of courses! Undergrad has ...,3
2,1byau2a,kyjd9un,harkari14,Find a professor who does research and ML proj...,1
3,1byau2a,kyigc67,EasyRecording6049,I think only for graduate level is the Ecen de...,0
4,1byau2a,kykibys,John6417,"Nope, CSE has plenty too 🤷‍♂️",4
5,1byau2a,kyigjoh,LiTsuiGaming,whats the ecen department?,2
6,1byau2a,kyii4fg,LiTsuiGaming,also I'm going to scu as an undergrad and not ...,0
7,1byau2a,kyk4k5x,Cultural_Person,ECEN = Electrical and computer engineering,2

1byau2a is completed
1bxql6t is started

,_submission,id,author,body,ups
0,1bxql6t,kyee305,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bxql6t,kz6an21,Strong_Hat_704,We have an apartment that will have students f...,1

1bxql6t is completed
1bxlons is started

,_submission,id,author,body,ups
0,1bxlons,kydgsuu,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bxlons,l0yom5g,Relevant_Anything920,I feel u bro. I am also in the same situation ...,1
2,1bxlons,l1354rc,Euphoric_Parsnip_944,"Hey buddy, I’m going with SJSU. \n\n[Here’s a ...",1

1bxlons is completed
1bwrxgp is started

,_submission,id,author,body,ups
0,1bwrxgp,ky82ifk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bwrxgp,kyf1vxs,Ok_Distance3715,Hey!! I played golf all throughout highschool ...,1

1bwrxgp is completed
1bvxjef is started

,_submission,id,author,body,ups
0,1bvxjef,ky2e9ql,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bvxjef,kz6aogi,Strong_Hat_704,We have an apartment that will have students f...,1

1bvxjef is completed
1bw5eox is started

,_submission,id,author,body,ups
0,1bw5eox,ky3v6gy,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bw5eox is completed
1buz6am is started

,_submission,id,author,body,ups
0,1buz6am,kxvwz4c,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1buz6am,kxx3g2i,None,it doesn't matter where you got yoru masters i...,2
2,1buz6am,kyapif4,Real-male-,"Come on, you can do an internet search for the...",2
3,1buz6am,kxxq16w,__paul_8,"I thought it was the opposite lol, go cheap un...",7
4,1buz6am,kz18wxm,Few_Growth_7645,"Get a life and stop being a smartass, they wer...",2
5,1buz6am,kyapg2q,Real-male-,Unsure that person is correct. You want to cho...,2
6,1buz6am,kxxru6h,None,no. Tbh none cares where you go to grad school...,1
7,1buz6am,kzb9to3,Real-male-,"Haha, why should I do the work for them? I sup...",1
8,1buz6am,kxxrx10,None,If i were you personally I wouldn't go to grad...,1

1buz6am is completed
1bv74nx is started

,_submission,id,author,body,ups
0,1bv74nx,kxxhdtx,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bv74nx is completed
1busy9q is started

,_submission,id,author,body,ups
0,1busy9q,kxuootj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1busy9q,kxurlb2,Obvious-Baker1731,Only reason I could think of is if u got a gre...,7
2,1busy9q,kylzfsa,Real-male-,There is a huge difference between the two. Go...,2
3,1busy9q,ky1uu5e,Vegetable-Plantain92,Price differential is about $12k more per year...,1
4,1busy9q,kyond1e,Vegetable-Plantain92,Thank you for your reply! We have visited SCU ...,3
5,1busy9q,ky3qcph,Obvious-Baker1731,They’re are both genuinely great schools and S...,1
6,1busy9q,l0475sc,Real-male-,Great to tour both as you are doing. I know pe...,1

1busy9q is completed
1bulg6y is started

,_submission,id,author,body,ups
0,1bulg6y,kxtez9y,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bulg6y,kxtlirp,iSezdis,"If it was your #1 school, you would have appli...",11
2,1bulg6y,kxu6f45,holiztic,The only thing you can do that matters at all ...,8
3,1bulg6y,kxwuukt,futureisours,My daughter was put on the wait list with a la...,4
4,1bulg6y,kxtg5pv,Dangerous_Medicine26,i heard calling the admissions office and expr...,3
5,1bulg6y,kxwnpg6,TMobile_Loyal,Become quick friends with someone on the board...,2
6,1bulg6y,l1g0dgs,Primary_Service4538,Stay positive - friend of mine son just got ac...,1
7,1bulg6y,kxtlqxu,Few_Growth_7645,"I applied early action, then got deferred, the...",6
8,1bulg6y,kxtm6pt,Few_Growth_7645,If I were to write an email to the admissions ...,1
9,1bulg6y,kxxel39,--Jenny__,Good point!,4
10,1bulg6y,kxxg3dy,--Jenny__,You are absolutely right. I called the general...,3
11,1bulg6y,kxxtsc6,Infinite-Economist52,How long did it take her to get the acceptance?,1
12,1bulg6y,kxxeruf,--Jenny__,"Should call your SCU counselor, I think they a...",2
13,1bulg6y,kxwr5t5,Few_Growth_7645,How exactly would I do that how do I contact?,2
14,1bulg6y,kxtvdqi,iSezdis,I'll DM you.,1
15,1bulg6y,kxyrbbe,TMobile_Loyal,Consider searching LinkedIn and other sources,2
16,1bulg6y,l1dooa7,Former_Stop_952,Can you please DM me as well,1

1bulg6y is completed
1buyo6c is started

,_submission,id,author,body,ups
0,1buyo6c,kxvta18,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1buyo6c is completed
1bujp52 is started

,_submission,id,author,body,ups
0,1bujp52,kxt4a1r,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bujp52,kxtb4vh,heycanyoudomeafavor,"SCU produces Governors USC doesn’t, SCU is an ...",12
2,1bujp52,kxt75ih,Substantial_Face7142,Yes,4
3,1bujp52,kxtmtzw,iSezdis,Recruiters travel to USC and other campuses. T...,5
4,1bujp52,kxv406n,DistributionStreet58,There are more CEOs of Silicon Valley companie...,3
5,1bujp52,kxudtnb,bigwallets,Do you want to work in tech or other industrie...,1
6,1bujp52,kxtm3m6,iSezdis,Do you have data for that second sentence? And...,4
7,1bujp52,kxt7bmf,Substantial_Face7142,Heart of Silicon Valley were every big company...,5
8,1bujp52,kxvxwvk,Available-Trust-8331,Yes even I have heard that … but aren’t most o...,1
9,1bujp52,kxvxfbx,Available-Trust-8331,Hey yes I’ll be working in the tech field,1
10,1bujp52,kxtodf4,heycanyoudomeafavor,I was particularly being serious and partially...,7
11,1bujp52,kxv4bat,TMobile_Loyal,Not just gov Newsom... been a few before him,1
12,1bujp52,kxttcfn,iSezdis,NorCal is more expensive than SoCal so the sal...,1
13,1bujp52,kyasc9b,holiztic,And USC and Berkeley grads can’t get jobs in S...,2

1bujp52 is completed
1btgaw8 is started

,_submission,id,author,body,ups
0,1btgaw8,kxlsbiv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1btgaw8,kxnx4t3,New-Pollution3778,What internship?,1

1btgaw8 is completed
1bt3i8e is started

,_submission,id,author,body,ups
0,1bt3i8e,kxjfd71,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bt3i8e,kxltrqr,KeebsNoob,From what ive heard ABET certification is impo...,1
2,1bt3i8e,kxtiuki,iSezdis,"SCU already has a good reputation, ABET isn't ...",1
3,1bt3i8e,kz1dzyb,Present_Constant1264,Depends on what career you wanna do. SCU has a...,1
4,1bt3i8e,kxlx8td,Mariathegreat124,What is ABET accreditation for? Would the abse...,1
5,1bt3i8e,kz1su3q,Constant-Relief9602,Thanks. I wanna do career in biotech industry,1
6,1bt3i8e,kz4f56d,Present_Constant1264,Nice. Bay area has a lot of healthcare tech bu...,1

1bt3i8e is completed
1bsve8f is started

,_submission,id,author,body,ups
0,1bsve8f,kxi6kvk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bsve8f,kxiusi9,holiztic,Others have received their aid and merit for R...,3
2,1bsve8f,kxsk9c1,SimonDaBoss,"same expected one, but no merit at all",1
3,1bsve8f,kxtnhyp,iSezdis,Contact your [SCU admissions counselor](https:...,1
4,1bsve8f,kxl55nr,Real_Happiness7265,oh. i believe you but where have you seen it? ...,1
5,1bsve8f,kxlbhxh,holiztic,In here,1

1bsve8f is completed
1bs6ua8 is started

,_submission,id,author,body,ups
0,1bs6ua8,kxdm78b,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bs6ua8,kxevg8q,letusc4968,1. Greek life is somewhat big here but as some...,6
2,1bs6ua8,kxeyhud,A_Jedi_Master,Congratulations on your acceptance at SCU!\n\n...,2
3,1bs6ua8,kxgcx9y,HMbeastmode,Dining hall food is NOT good. No way to sugar ...,0
4,1bs6ua8,kxgp8r9,Leo_Chen_zy,"Yeah just to follow up on that, most good club...",3
5,1bs6ua8,kxikoyn,jessicq1,"thank you for answering all the questions, i a...",1
6,1bs6ua8,kxili3u,letusc4968,There are a TON of factors to ranking the dorm...,0

1bs6ua8 is completed
1bsdeli is started

,_submission,id,author,body,ups
0,1bsdeli,kxes0ry,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bsdeli,kxkorzp,lhamo_lou,"I just applied last week, how long did it take...",5
2,1bsdeli,ky9uaik,Wooden-Desk-2837,Hey! I’m pretty sure I’ll be transferring ther...,3
3,1bsdeli,kxi3igs,New-Pollution3778,Hey how much are you gonna be paying? I heard ...,2
4,1bsdeli,kxh62dj,SquareRootOf8,There’s a transfer student association you can...,1
5,1bsdeli,kxkuknt,BankUpbeat402,I applied the last week of January and heard b...,3
6,1bsdeli,kxi3v04,BankUpbeat402,I'm still in communications with the financial...,2
7,1bsdeli,kxh6ryc,BankUpbeat402,How do I access that?,1
8,1bsdeli,kxkvosg,lhamo_lou,"thanks for this. very helpful, hoping to hear ...",2
9,1bsdeli,kxii3i8,New-Pollution3778,Yeah I am,1
10,1bsdeli,kxhkkem,SquareRootOf8,Check their Instagram and other socials to see...,2
11,1bsdeli,kxkw4aq,BankUpbeat402,I'm a psychology and English double :),1

1bsdeli is completed
1bsleg3 is started

,_submission,id,author,body,ups
0,1bsleg3,kxgczjy,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bsleg3,kxgek6m,EPIC_BATTLE_ROYALE,"SCU is a Jesuit school, so no concerns there. ...",19
2,1bsleg3,kxgoziu,holiztic,We really researched and discovered SCU is mor...,10
3,1bsleg3,kxhfnn1,Bonkers_25,Jesuits are significantly more liberal than ot...,7
4,1bsleg3,kxgqrm6,quertyquerty,"scu is catholic, but not overtly, and overall ...",3
5,1bsleg3,kxiqfmc,quan734,"You will be fine, SCU is probably the best sch...",3
6,1bsleg3,kxobnwu,Futurebass_Guy919,This place is really friendly towards LGBT peo...,3
7,1bsleg3,kxib5bq,elegantdolphin,It will probably only help you get in but defi...,-1
8,1bsleg3,ky2ylum,Due_Palpitation_3582,will it help get in?,2

1bsleg3 is completed
1bs2it0 is started

,_submission,id,author,body,ups
0,1bs2it0,kxcykai,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bs2it0,kxtsiem,iSezdis,Tech jobs are more based upon the individual r...,1

1bs2it0 is completed
1bry60e is started

,_submission,id,author,body,ups
0,1bry60e,kxc5hdc,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bry60e,kxc8x9m,idkcat23,it’s tough because the core requirements are v...,6
2,1bry60e,kxcmhnu,CharlesStross,"Is extremely difficult, but it is doable. I ha...",1
3,1bry60e,kxd1y5u,jullyyhuang,i’m currently a psychology and business manage...,1
4,1bry60e,kxcm7lo,PaintedDusk,Yeah that’s what I figured. It would take a lo...,1
5,1bry60e,kxcz8cm,isickik,"It’s insanely easy, took me about 10 minutes f...",2
6,1bry60e,kxcoshr,idkcat23,"Yes, possible! Actually pretty easy unless you...",1
7,1bry60e,kxd71mz,PaintedDusk,Wow ok good to know!,1

1bry60e is completed
1brplff is started

,_submission,id,author,body,ups
0,1brplff,kxaikyp,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1brplff is completed
1bqw06l is started

,_submission,id,author,body,ups
0,1bqw06l,kx560db,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bqw06l,kx5m0c5,SwedishAviator,"I’ve never heard BU being called prestigious, ...",9
2,1bqw06l,kx5ffp3,holiztic,"With law school costs, you gotta pick the chea...",3
3,1bqw06l,kx83xxc,iSezdis,Have you toured both campuses? Which one do yo...,1
4,1bqw06l,kx60bme,heycanyoudomeafavor,"Just go with the cheaper option, I don’t even ...",1
5,1bqw06l,kx5lpx2,5torm,"If you haven’t heard a bad thing about SCU, yo...",-1
6,1bqw06l,kx5mn33,Prudent_Whole_1653,Ya idk why I said really prestigious lol. Lowk...,3
7,1bqw06l,kxak4mt,Prudent_Whole_1653,Thank you!!,2
8,1bqw06l,kx6qfjf,None,don't forget about bc,1
9,1bqw06l,kxru4lj,iSezdis,Those are general statements. I live in Silico...,1
10,1bqw06l,kx8apst,5torm,Everyone who downvoted this is a Bay Area simp...,0
11,1bqw06l,kx5no5b,Prudent_Whole_1653,"lol I just read, is the policy of 50% of the c...",-2
12,1bqw06l,kx85rc7,heycanyoudomeafavor,"Both BC and BU are above average schools, regi...",1
13,1bqw06l,kxss4x8,heycanyoudomeafavor,Hahaha I like your way of thinking,1
14,1bqw06l,kx5vagw,SwedishAviator,No that kid from that post is clearly disgrunt...,6
15,1bqw06l,kx7xvft,iSezdis,"The policy of 50% of the class getting a ""C"" g...",1

1bqw06l is completed
1bqzfrz is started

,_submission,id,author,body,ups
0,1bqzfrz,kx5wlv5,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bqzfrz,kxtql64,iSezdis,Contact SCU. I don't think international stude...,1
2,1bqzfrz,kxtqmsk,Constant-Relief9602,Thank you!,1
3,1bqzfrz,kxtqni6,exclaim_bot,>Thank you!\n\nYou're welcome!,1

1bqzfrz is completed
1br3qae is started

,_submission,id,author,body,ups
0,1br3qae,kx6nhjs,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1br3qae,kx6vkjp,akh891,I am interested too,1
2,1br3qae,kx9mc37,No-Cranberry-9063,Private message me. My son has a house at 714 ...,1
3,1br3qae,kx9mk2b,No-Cranberry-9063,Pm me. My son and his roommates may have spots...,1
4,1br3qae,kxbi1bm,akh891,Just sent you a message!,1

1br3qae is completed
1br2l9u is started

,_submission,id,author,body,ups
0,1br2l9u,kx6g8b9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1br2l9u,kxbu1ao,jackg217,People will most likely be bias towards santa ...,3
2,1br2l9u,kxc4rug,CarnageTitan,"Thank you, when it comes to price, Purdue is t...",1

1br2l9u is completed
1bqws0i is started

,_submission,id,author,body,ups
0,1bqws0i,kx5bcui,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bqws0i is completed
1bqtafn is started

,_submission,id,author,body,ups
0,1bqtafn,kx4mldh,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bqtafn,kx9ohif,No-Cranberry-9063,Most sublets don't open for summer until after...,1
2,1bqtafn,kxf0ym8,No-Cranberry-9063,Yes. I think so.,1
3,1bqtafn,l0ycsuz,CWS2022,possible room avail from June to end of August...,1
4,1bqtafn,kx9t2no,Melodic_Gur_5913,Thank you for the comment. Is that also true f...,1

1bqtafn is completed
1bqhc5j is started

,_submission,id,author,body,ups
0,1bqhc5j,kx2k5i4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bqhc5j,kx2lzog,Cultural_Person,You could try contacting the office of student...,2
2,1bqhc5j,kx2sow2,DoubtlessCar0,My best guess is you’d have to find a nearby a...,2

1bqhc5j is completed
1bpgo2o is started

,_submission,id,author,body,ups
0,1bpgo2o,kwvlxm0,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bpgo2o,kwzph1g,Bonkers_25,This seems like something to have considered b...,5

1bpgo2o is completed
1bper4n is started

,_submission,id,author,body,ups
0,1bper4n,kwv8toc,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bper4n,kwyugpt,missionbmw,There is Delta Sigma Pi and Alpha Kappa Psi. F...,3

1bper4n is completed
1bohyr7 is started

,_submission,id,author,body,ups
0,1bohyr7,kwp1h13,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bohyr7,kwr20lm,Euphoric_Parsnip_944,Better get in touch with program directors and...,3
2,1bohyr7,kwrpsd8,MoreLeftShark,I don’t think it’s difficult if you enroll in ...,1
3,1bohyr7,kwtt0nz,Bonkers_25,https://www.scu.edu/business/undergraduates/ac...,1
4,1bohyr7,kwtxx7p,SmoothSlide9690,100 students apply to transfer. Only 10 to 20 ...,1
5,1bohyr7,kwz0tyd,SouthernBreakfast203,On it! Thank you!,1
6,1bohyr7,kwxiyep,iSezdis,"Right, it states that a transfer needs a minim...",1

1bohyr7 is completed
1boa60c is started

,_submission,id,author,body,ups
0,1boa60c,kwng8n8,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1boa60c,kwpny1q,Cultural_Person,I’m not aware of any big group chats for trans...,1
2,1boa60c,kwrfcqr,New-Pollution3778,Hey how much are you gonna pay as a transfer??,1
3,1boa60c,kxaxvyg,BankUpbeat402,I'm also coming in as a junior transfer!! Woul...,1

1boa60c is completed
1bom5ie is started

,_submission,id,author,body,ups
0,1bom5ie,kwpummj,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bom5ie is completed
1bo0i9g is started

,_submission,id,author,body,ups
0,1bo0i9g,kwlsh37,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bo0i9g,kwn34z6,ca_republican,"Nice try Santa Clara PD, but im not telling yo...",23

1bo0i9g is completed
1bnv8sy is started

,_submission,id,author,body,ups
0,1bnv8sy,kwktsva,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bnv8sy,kwkzaww,Substantial_Face7142,Santa Clara is in the heart of Silicon Valley ...,7
2,1bnv8sy,kwlz4we,stickleaf,Stay at UC Davis,8
3,1bnv8sy,kwoajfl,GroundbreakingRow163,Scu is not a college town feel like Davis. Doe...,2
4,1bnv8sy,kwxjtp6,iSezdis,Why are you considering transferring? Can't an...,1

1bnv8sy is completed
1bnzqvj is started

,_submission,id,author,body,ups
0,1bnzqvj,kwlo0d5,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bnzqvj,kx6vrby,akh891,I am interested too,1

1bnzqvj is completed
1bnhuji is started

,_submission,id,author,body,ups
0,1bnhuji,kwi7y0i,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bnhuji,kwiub9n,CorgiInternal7072,I’m on the same boat as well! Hopefully we can...,2
2,1bnhuji,kwjlqxe,Substantial_Face7142,They’re many programs at Santa Clara that help...,1
3,1bnhuji,kwli5bn,Adorable-Area-6129,I would love to connect :) I was also admitted...,1
4,1bnhuji,kwlidl3,Adorable-Area-6129,I'm glad there are options and resources for u...,1
5,1bnhuji,kyd377u,kaydeeoo,Hi I also got selected for fall 24 ^^!! If y'a...,1

1bnhuji is completed
1bnf2xp is started

,_submission,id,author,body,ups
0,1bnf2xp,kwhnvfx,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bnf2xp,kwiaq47,Substantial_Face7142,Financial aid is pretty good especially if you...,6
2,1bnf2xp,kwiau3o,MoppusGirl,"I come from a very small public high school, n...",1
3,1bnf2xp,kwjfqw3,la-quintessenza,Specifically Jesuit?? Or are there scholarship...,1
4,1bnf2xp,kwibfli,Substantial_Face7142,Well I have a few friends that also come from ...,2
5,1bnf2xp,kwjkler,Substantial_Face7142,I just looked at the website and it looks like...,2
6,1bnf2xp,kwibsct,MoppusGirl,That sounds awesome! I’ll be sure to keep that...,2
7,1bnf2xp,kwk1zp6,la-quintessenza,Shoot my high school’s Dominican. But thank yo...,1

1bnf2xp is completed
1bmqxxe is started

,_submission,id,author,body,ups
0,1bmqxxe,kwdb4ew,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bmqxxe,kwe6whl,quertyquerty,"1. partially false, you do get credit for ap/i...",18
2,1bmqxxe,kwdbqay,Substantial_Face7142,Not true they’re is certain rules for easier c...,27
3,1bmqxxe,kwdwr3c,holiztic,#1 is true at loads of schools and the rest so...,13
4,1bmqxxe,kwead81,SwedishAviator,Whoever wrote that list seemed to have a bad e...,14
5,1bmqxxe,kwde5ce,idkcat23,Basically none of this is true lol,36
6,1bmqxxe,kwe4gb0,JackIsEmptyInside,64% of my BUSN 70 class this quarter got As. No.,9
7,1bmqxxe,kwdvj89,Frosty_Switch_6537,Fake,6
8,1bmqxxe,kwfh4ag,DragonDuck13,the business school has a grading curve in whi...,3
9,1bmqxxe,kwdg5tz,Sweesa,It was mostly true in the math department when...,8
10,1bmqxxe,kweul46,Legend225,I have never seen that before. Maybe im engine...,2
11,1bmqxxe,kwfoty2,ExcellenttRectangle,I know several ESS classes followed the rule ...,2
12,1bmqxxe,kws8qb4,Aggressive-Pack-3786,"so true for math, cs, and natural science clas...",1
13,1bmqxxe,kyfr5hh,ActivePlastic4326,Not this is not true. But this also depends on...,1
14,1bmqxxe,kwdoxlp,Background_Office472,"Not sure about 3 and 7, but others seem true. ...",-2
15,1bmqxxe,kwe3tv6,hojocheru,"#4,5 & 7 are true",-2
16,1bmqxxe,kwdvhkb,Frosty_Switch_6537,Which classes and departments?,3
17,1bmqxxe,kwxkc0r,iSezdis,\#2 is true for Computer Science in A&S. My so...,2
18,1bmqxxe,kx2ime3,Frosty_Switch_6537,Oh noo that’s my class,1

1bmqxxe is completed
1bn41zv is started

,_submission,id,author,body,ups
0,1bn41zv,kwfsssl,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bn41zv,kwha5cv,holiztic,"As for selective, my son has a 4.7 and 1480 an...",2
2,1bn41zv,kwoj0ku,bcp01scu05,I graduated from there a long-ish time ago (se...,2
3,1bn41zv,kwhainw,holiztic,https://www.scu.edu/honors/,1
4,1bn41zv,kwi7gqw,Frosty_Switch_6537,The application didn’t ask for gpa or test sco...,1
5,1bn41zv,kwjxktq,holiztic,They have all that in your regular application...,1
6,1bn41zv,kwjxp3z,holiztic,What do you mean “no longer able to attend”? \...,1

1bn41zv is completed
1bmxuwd is started

,_submission,id,author,body,ups
0,1bmxuwd,kwemdl1,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bmxuwd,kwepzjq,teaghad,Graham and Finn are by far the nicest dorms at...,5
2,1bmxuwd,kweq9px,Fuzzy-Ad-9788,I don’t think freshmen can live in the casa si...,5
3,1bmxuwd,kx32i3k,ABC-in-NorCal,"Whatever you choose, you will have the option ...",1
4,1bmxuwd,kwff6sr,Frosty_Switch_6537,Ur right - singles in casa r not for first years,1

1bmxuwd is completed
1bn02ii is started

,_submission,id,author,body,ups
0,1bn02ii,kwf13di,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bn02ii,kwf3jkw,Substantial_Face7142,It should be all be included in one final offe...,4
2,1bn02ii,kwti187,Such_Perspective_52,I haven’t not received any notice about merit ...,1
3,1bn02ii,kwtnrcb,Leather_Special5345,My award letter came a week or two after accep...,1
4,1bn02ii,kwu2gk6,Such_Perspective_52,Thank you! This makes me feel better.,1

1bn02ii is completed
1bmqswg is started

,_submission,id,author,body,ups
0,1bmqswg,kwda2cd,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bmqswg,kwfc0mf,Ancient_Prize4264,I don't think SCU has a pre-med program. They ...,3
2,1bmqswg,kww00jt,missionbmw,SCU has a budding pre-health program. Check ou...,2

1bmqswg is completed
1bmq8fg is started

,_submission,id,author,body,ups
0,1bmq8fg,kwd5wpx,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bmq8fg,kwh8p5p,Euphoric_Parsnip_944,I’m considering SCU for the same course. \nI’d...,1
2,1bmq8fg,kxo64ae,Mindless-Mortgage-69,I’m looking for career in project management a...,1
3,1bmq8fg,kxonaex,Euphoric_Parsnip_944,Should be good. It has similar curriculum and ...,1

1bmq8fg is completed
1bmziui is started

,_submission,id,author,body,ups
0,1bmziui,kwexe6i,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bmziui,kwffpj6,DragonDuck13,aren’t you the person that frequently complain...,19
2,1bmziui,kwg0ziu,ca_republican,"Reading your history: dude, you need to get la...",16
3,1bmziui,kx5w4v2,SwedishAviator,School policy says that groups have priority o...,4
4,1bmziui,kwoqgr8,lemonboy77,"Lmfao he “cheated” in rock, paper, scissors???...",2
5,1bmziui,kwf5mdq,elegantdolphin,Im not sure the user thing is relevant 😣😬but y...,1
6,1bmziui,kwgfp9n,Background_Office472,So sorry to hear that OP. Rich kids in this sc...,1
7,1bmziui,kx7xdi7,iSezdis,"Can't generalize the entire school. Also, this...",1
8,1bmziui,kwfh6wf,lucatitoq,"Yeah, saw a dude step on my friends laptop for...",-1
9,1bmziui,kwgivi3,Wonderful_Ad6675,"Some comments are kind of shitty, only validat...",-2
10,1bmziui,kwfhk66,Wonderful_Ad6675,"Yes, but I really didn't know it was going to ...",-9
11,1bmziui,kwgb2o6,DragonDuck13,he’s really going out of his way to complain a...,3
12,1bmziui,kx5wuul,Wonderful_Ad6675,"Well in that case, I had a meeting but it was ...",-1
13,1bmziui,kwowgzy,Wonderful_Ad6675,"I mean it's just speculation, idk forsure. I d...",-1
14,1bmziui,kwoxb6m,Wonderful_Ad6675,Also I don't apreciate any assumptions,-1
15,1bmziui,kwr1raq,trish199,I’m not sure why this is getting downvoted. It...,2
16,1bmziui,kwfhax1,Wonderful_Ad6675,"Wow, that's malicious.",-3
17,1bmziui,kwi2srn,DragonDuck13,one look at your profile shows how you incessa...,5
18,1bmziui,kwfi4cp,DragonDuck13,then I strongly suggest you find a different p...,10
19,1bmziui,kx5ylu6,SwedishAviator,"They’re not meant to be soundproof, because Lu...",2
20,1bmziui,kwfhg2q,lucatitoq,"Yeah, it was charging so it had to be on the g...",-3
21,1bmziui,kwlw7hi,Wonderful_Ad6675,"Ok please just keep that yourself, this is jus...",0
22,1bmziui,kwgcah0,Wonderful_Ad6675,"It's not that simple, please don't make assert...",0
23,1bmziui,kwml06y,gamergirleighty,Are they rude or are you just sensitive? Peopl...,2
24,1bmziui,kwnsvx5,Wonderful_Ad6675,"I mean i think it's both, i mean yeah i have b...",0

1bmziui is completed
1bm2bhs is started

,_submission,id,author,body,ups
0,1bm2bhs,kw8vxoi,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bm2bhs,kw9ixu9,letusc4968,"1. Greek life is here, girls have don’t have m...",2

1bm2bhs is completed
1bm6jwt is started

,_submission,id,author,body,ups
0,1bm6jwt,kw9nxmi,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bm6jwt,kwad6i4,Substantial_Face7142,Should ask drahman center only one I know does...,2
2,1bm6jwt,l42caq2,EggplantExciting5036,Yes. They said no problem,1
3,1bm6jwt,kwadfvz,EggplantExciting5036,thank you,1

1bm6jwt is completed
1blzhw9 is started

,_submission,id,author,body,ups
0,1blzhw9,kw8d06q,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1blzhw9,kw9lj2l,SwedishAviator,Unless you’re Catholic and like going to churc...,6
2,1blzhw9,kwct4z4,malinny,Not present at all. I stepped into the church ...,1
3,1blzhw9,kwb7o4j,BaakCoi,The only time the school’s religion has affect...,2
4,1blzhw9,kwc316u,Triple3Trouble,Nice! Are either of you in the CS or COEN prog...,1
5,1blzhw9,kwebtak,BaakCoi,"Yes, I’m a COEN major",1

1blzhw9 is completed
1blemkq is started

,_submission,id,author,body,ups
0,1blemkq,kw4nskx,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1blemkq,kw68y6t,RizzerRizzed,"go to main campus , speak to admissions and as...",2
2,1blemkq,kw4pmv3,Coolguy4le_78,"Grade rpts, additional docs",1
3,1blemkq,kwa9j5n,FriendofJoey68,What is a DN?,3
4,1blemkq,kw7ah3m,Infinite-Economist52,"Can’t go to the main campus, I’m not from Cali...",1
5,1blemkq,kwgi4z0,RizzerRizzed,deez nuts,1
6,1blemkq,kw7b2mh,Infinite-Economist52,Could you explain the process more in detail?,1

1blemkq is completed
1bldrhi is started

,_submission,id,author,body,ups
0,1bldrhi,kw4hwy1,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bldrhi,kw5sqzc,Cultural_Person,"Yes, those classes and at least a 3.3 GPA. \n\...",2
2,1bldrhi,kw5v9oc,jkru396,Thanks. Is there a site like [assist.org](http...,1
3,1bldrhi,kw5vwq6,Cultural_Person,"No problem, sure here’s the link: https://www....",1
4,1bldrhi,kw5w359,jkru396,"Awesome, thanks. This helps a lot.",2

1bldrhi is completed
1bl968x is started

,_submission,id,author,body,ups
0,1bl968x,kw3lt90,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bl968x,kw56643,Jilli-Fish,"I have the exact same question, hopefully we f...",2
2,1bl968x,kw8oxji,ReputationSad3875,"glad i’m not the only one, i’ve been stressed ...",1
3,1bl968x,kw56a63,Jilli-Fish,"I was told we would get an email from housing,...",2
4,1bl968x,kw5vlv5,abva2807,Hopefully we’ll hear back soon,2

1bl968x is completed
1blcmpn is started

,_submission,id,author,body,ups
0,1blcmpn,kw4a95j,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1blcmpn is completed
1bkhg48 is started

,_submission,id,author,body,ups
0,1bkhg48,kvy5i5n,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bkhg48,kw5uxpm,Cultural_Person,"It depends on the lab space, what equipment is...",3
2,1bkhg48,kwrgz4h,None,thanks,1

1bkhg48 is completed
1bkmb93 is started

,_submission,id,author,body,ups
0,1bkmb93,kvz4ayn,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bkmb93,kvzfhmb,idkcat23,Summer orgo will always be hard because it’s f...,2
2,1bkmb93,kvztglq,InevitableCulture3,"Even as a chem major, it was pretty rough. I f...",2
3,1bkmb93,kw05zqj,Leo_Chen_zy,Are you a future SCU student? It doesn't make ...,2
4,1bkmb93,kw0fwva,Hirorai,There's always this one guy who posts on this ...,1
5,1bkmb93,l6wwfi4,Available_Egg7349,Im currently in ochem I at SCUHS 5 week progra...,1
6,1bkmb93,kvzgtys,Delicious_Invite7245,How is Gen chem?,1
7,1bkmb93,kvzh1f1,idkcat23,"11 isn’t bad, 12 is rough.",1
8,1bkmb93,kvzh76o,Delicious_Invite7245,Darn. Planning on 11 and calc for life science...,1

1bkmb93 is completed
1bkccvl is started

,_submission,id,author,body,ups
0,1bkccvl,kvx3hra,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bkccvl,kw0iob6,Euphoric_Parsnip_944,Thanks for posting. Even I’m looking out for t...,1
2,1bkccvl,kw4ix8w,Strong_Hat_704,I don't know about those properties but my son...,1

1bkccvl is completed
1bjx2v3 is started

,_submission,id,author,body,ups
0,1bjx2v3,kvu8sae,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bjx2v3,kvumz13,Cultural_Person,Went to this school because I wanted to stay l...,9
2,1bjx2v3,kvvv70y,holiztic,My son wants a medium-sized college with small...,6
3,1bjx2v3,kvy0y6n,DogShlepGaze,The company I worked for paid for my MSEE at SCU.,2

1bjx2v3 is completed
1bjgtku is started

,_submission,id,author,body,ups
0,1bjgtku,kvqyp7c,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bjgtku,kvricjn,Frosty_Switch_6537,\nMcLaughlin/Walsh is what you’re looking for ...,3
2,1bjgtku,kvrik9o,Frosty_Switch_6537,Swig is rlly good for Greek like recruitment t...,3

1bjgtku is completed
1bjg4o5 is started

,_submission,id,author,body,ups
0,1bjg4o5,kvqtgts,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bjg4o5,kvqvxmr,hopesndreams17,Just saw this too and would love tips about this!,1

1bjg4o5 is completed
1bjh0v5 is started

,_submission,id,author,body,ups
0,1bjh0v5,kvr05yy,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bjh0v5 is completed
1bj4zsy is started

,_submission,id,author,body,ups
0,1bj4zsy,kvot2z8,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bj4zsy is completed
1bj0dis is started

,_submission,id,author,body,ups
0,1bj0dis,kvnwx46,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bj0dis,kvp4cm8,Present_Constant1264,"I don’t know because I’ve never done it, but I...",3
2,1bj0dis,kvnzonu,Obvious-Baker1731,Same question,2
3,1bj0dis,kvpom3k,holiztic,"In our info session before our tour, we were t...",2
4,1bj0dis,kvp40ep,Long_Slong69,It all depends on your core reqs gpa and year,1
5,1bj0dis,kxrvzim,iSezdis,Find your SCU admissions advisor and ask: [Fin...,1
6,1bj0dis,kvsoeqc,Prudent_Whole_1653,Yeah I applied A&S cuz I wanted to take more h...,1

1bj0dis is completed
1bidapl is started

,_submission,id,author,body,ups
0,1bidapl,kvjjq1c,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bidapl,kvl88j6,idkcat23,Yes! The public health department is excellent...,5
2,1bidapl,kvs9r3f,Present_Constant1264,I know a lot of people majoring in public heal...,1

1bidapl is completed
1bi4rbl is started

,_submission,id,author,body,ups
0,1bi4rbl,kvhz0v5,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bi4rbl,kvjckqy,Cultural_Person,"Don’t feel bad, the school of engineering is t...",4
2,1bi4rbl,kvi0amn,Legitimate_Amoeba837,what are your other options?,3
3,1bi4rbl,kvj7gi9,DLineHopeful,"i got waitlisted CS (3.2, 1520)",2
4,1bi4rbl,kvit0o3,NoCandidate3212,"Avoid this school, it’s ass",-6
5,1bi4rbl,kvi1cl0,New-Pollution3778,Cc,1
6,1bi4rbl,kvjh0sb,New-Pollution3778,3.7 optional sat,2
7,1bi4rbl,kvokjwv,Lost-Obligation,"3.9UW/4.5W 1520 SAT, 9 AP, 4 honors, and waitl...",1
8,1bi4rbl,kvjp0rc,Fearpepper,How so?,3
9,1bi4rbl,kvk87kx,dylqndabest,Reasons?,2
10,1bi4rbl,kvi1lok,Legitimate_Amoeba837,CC two years and applying for junior transfer ...,17
11,1bi4rbl,kvongjx,DLineHopeful,dawg how the fuck,1
12,1bi4rbl,kvotsu2,Lost-Obligation,Cause i didn’t apply EA and I think that is im...,1
13,1bi4rbl,kxu7bai,iSezdis,That UCLA acceptance is because the UCs only c...,1

1bi4rbl is completed
1bi8krt is started

,_submission,id,author,body,ups
0,1bi8krt,kvip9gb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bi8krt,kvjbbd0,Frosty_Switch_6537,Hi! I’m going in undecided but was also most l...,3
2,1bi8krt,kvm4hxw,Severe-Swim5403,"I’m a neuroscience major, and as long as you l...",3
3,1bi8krt,kvj0szc,Delicious_Invite7245,Hey! I just committed for neuroscience if you’...,2
4,1bi8krt,kvji5oy,dylqndabest,Hey I also got into SCU but I wouldn’t be majo...,2
5,1bi8krt,kvjwhim,Euphoric_Parsnip_944,I got into MSIS. I’d be glad to learn about SCU.,1
6,1bi8krt,kvjmy48,hopesndreams17,Yes please!,1
7,1bi8krt,kvj9ztd,hopesndreams17,Yes please!,1

1bi8krt is completed
1bhjjju is started

,_submission,id,author,body,ups
0,1bhjjju,kve2lk2,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bhjjju is completed
1bhextr is started

,_submission,id,author,body,ups
0,1bhextr,kvd9k36,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bhextr,kvdj408,__paul_8,^,1
2,1bhextr,kvhttu6,flat5,Decisions are up.\n\nWaitlisted. :(,1
3,1bhextr,kvhyf4e,Infinite-Economist52,Me too.,1
4,1bhextr,kvnhrlf,Obvious-Baker1731,Just curious why didn’t u apply ea?,1
5,1bhextr,kvnjkmf,flat5,"Was busy with UC apps at the time, just spread...",1

1bhextr is completed
1bhjsa3 is started

,_submission,id,author,body,ups
0,1bhjsa3,kve3zpj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bhjsa3,kvipx64,missionbmw,"You get placed in either Graham, Finn, Dunne, ...",1
2,1bhjsa3,kvrviop,NeatIndication5504,Actually casa not Finn - my child in honors pr...,1
3,1bhjsa3,kvusdef,missionbmw,"Oh, yes.., thank you for the correction.",1

1bhjsa3 is completed
1bh9dfi is started

,_submission,id,author,body,ups
0,1bh9dfi,kvc8gk3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bh9dfi,kvccte8,BaakCoi,"No, you’re restricted to a few dorms because y...",4
2,1bh9dfi,kven4ku,DoubtlessCar0,Don’t stay in Swig…it’s probably the worst dor...,2

1bh9dfi is completed
1bfrmra is started

,_submission,id,author,body,ups
0,1bfrmra,kv2e6g9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bfrmra,kv2lozs,ReputationSad3875,hey !! i also was admitted into a grad program...,3
2,1bfrmra,kv7iygy,Jilli-Fish,I’m beginning in the Fall studying Counseling ...,2
3,1bfrmra,kvj94ry,EPIC_BATTLE_ROYALE,I’m starting ECP MFT/LPCC in Spring! Feel feee...,2
4,1bfrmra,kv2u1f3,CorgiInternal7072,Ahh congrats! 🎉 ^^ me too! :),1
5,1bfrmra,kv33ykh,extralycheejelly,What are you studying! If you don’t mind me as...,1
6,1bfrmra,kv387bv,FlowerspowersArg,Congratulations!! I’m about to finish the firs...,1
7,1bfrmra,kv3iwf9,Euphoric_Parsnip_944,"Hey, I’ve got an admit for MSIS at SCU. Feel f...",1
8,1bfrmra,kv44vzz,None,Hi - I’ll be starting MA in counseling psych a...,1
9,1bfrmra,kv4qz3c,UsefulVariation5508,Hey Congratulations .. I received an admit too🥳❤️,1
10,1bfrmra,kv38tz7,Ill-marss1117,I’ll be attending the ecp mft program:)!,2
11,1bfrmra,kv3ochw,Ill-marss1117,I can imagine that transition can be difficult...,1
12,1bfrmra,kv3pgd1,FlowerNirvana,The MFT program is great. I’m in my second yea...,2
13,1bfrmra,kv7o5ld,Jilli-Fish,I’m starting MFT in the fall too!,1
14,1bfrmra,kv3wcgw,FlowerspowersArg,You will be fine! Just ensure to block time on...,1

1bfrmra is completed
1bfgubl is started

,_submission,id,author,body,ups
0,1bfgubl,kv06ntp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bfgubl,kv1id55,Present_Constant1264,I’m not indian but I can say there are a lot o...,3
2,1bfgubl,kv0mzco,Layzoid,"If you're an undergraduate incoming fresher, D...",3
3,1bfgubl,kv3zmbb,Euphoric_Parsnip_944,Indian yes but going for my masters. Leavey sc...,1
4,1bfgubl,kv3uc14,Ambitious_Growth_587,"Understood, thank you for the info!\nAnd thats...",1
5,1bfgubl,kv3u05k,Ambitious_Growth_587,Sure,1
6,1bfgubl,kv4amz4,Ambitious_Growth_587,Sure! Would love to make new connections btw I...,1
7,1bfgubl,kv3u0oh,Ambitious_Growth_587,Let’s do that,1

1bfgubl is completed
1bf62mi is started

,_submission,id,author,body,ups
0,1bf62mi,kuy71w0,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bf62mi,kuyb6bl,JJYellowShorts,"Sobrato, because its mostly singles. Then Casa...",4
2,1bf62mi,kuz3yl3,Futurebass_Guy919,"This is an unpopular opinion, but I think Camp...",3
3,1bf62mi,kuz4eeg,Futurebass_Guy919,The worse dorms really depends on you though:\...,3
4,1bf62mi,kuy89sv,Bonkers_25,"1. mclaughlin (also called ""mcwalsh"" because i...",2
5,1bf62mi,kv2y3uo,Long_Slong69,Swig is the best and the most quiet as everyth...,1
6,1bf62mi,kvenotp,DoubtlessCar0,Oh Sobrato by far. In your second year you are...,1
7,1bf62mi,kuz3570,sjcphl,"Alumnus here. Just remember, realistically you...",1
8,1bf62mi,kwjs6h6,Last-Balance2456,Do you know if you can do Sobrato as a freshma...,1

1bf62mi is completed
1bf57rd is started

,_submission,id,author,body,ups
0,1bf57rd,kuy1i44,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bf57rd,kuy6dpi,Bonkers_25,I graduated a few years ago but I think Finn o...,3
2,1bf57rd,kuy6go9,Present_Constant1264,Dunne has all of those. Well its an old buildi...,3
3,1bf57rd,kuy447x,lucatitoq,Graham. However you may not get into it tho bc...,3
4,1bf57rd,kuyrh1h,None,Don't go to college it is not worth it,-2
5,1bf57rd,kuy6bfl,Present_Constant1264,Idk if upperclassmen are allowed to live in gr...,2
6,1bf57rd,kuy6jnz,lucatitoq,I mean like sophomores and juniors,1
7,1bf57rd,kuy8qtk,missionbmw,They reserve a specific number of spots for in...,2

1bf57rd is completed
1besp2m is started

,_submission,id,author,body,ups
0,1besp2m,kuvitj4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1besp2m,kw7ppe0,Strong_Hat_704,My son and his friend (both rising Juniors) ar...,1
2,1besp2m,kxqvvul,PresentationDry9624,I'm interested!,1
3,1besp2m,kxqx58n,PresentationDry9624,I can't send you a DM,1

1besp2m is completed
1befdb0 is started

,_submission,id,author,body,ups
0,1befdb0,kusx6rv,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1befdb0 is completed
1be4l4r is started

,_submission,id,author,body,ups
0,1be4l4r,kuqvqda,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1be4l4r,kuv3xxd,materialmonkey4,I'm interested!,1

1be4l4r is completed
1bdfiao is started

,_submission,id,author,body,ups
0,1bdfiao,kum7ilb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bdfiao,kumc134,idkcat23,"Pretty liberal IMO, it’s a school in Californi...",12
2,1bdfiao,kupdw5w,Legend225,Liberal. You might see in the spring or winter...,3
3,1bdfiao,kuz4n3v,Futurebass_Guy919,I've met the most far right to far left people...,2
4,1bdfiao,kv1xfsk,Cultural_Person,It depends a lot on the people and groups you ...,2
5,1bdfiao,kumej3w,Normiex5,It’s in California so I assume liberal,2
6,1bdfiao,kumd3aa,Obvious-Baker1731,How catholic is it?,1
7,1bdfiao,kumdoty,idkcat23,"not very, I’m not Catholic and I barely rememb...",10
8,1bdfiao,kuz4wqh,Futurebass_Guy919,"yah it's barley part of the school, if at all ...",1

1bdfiao is completed
1bc4nn9 is started

,_submission,id,author,body,ups
0,1bc4nn9,kude3ne,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bc4nn9,kudv1cu,New-Pollution3778,Mid March I emailed them,1
2,1bc4nn9,kuei3fl,holiztic,"Just FYI, the EA decisions went out with maybe...",1
3,1bc4nn9,kuep419,TrixieGrace,"Looking through the past few years, it's looki...",1
4,1bc4nn9,kuz383j,Futurebass_Guy919,"Usually around March-May, if you don't hear so...",1

1bc4nn9 is completed
1bb3ht1 is started

,_submission,id,author,body,ups
0,1bb3ht1,ku6qhfn,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1bb3ht1,ku7lhoa,Sn0wman3690,I’m going to be a transfer student and got $34...,2
2,1bb3ht1,ku9ou4n,New-Pollution3778,If you don’t mind me asking what qualified you...,1
3,1bb3ht1,ku9sxi5,Sn0wman3690,"I applied for FAFSA, got the full Pell grant a...",3
4,1bb3ht1,kudv5jv,New-Pollution3778,Also what was your major and stats? Did you co...,4

1bb3ht1 is completed
1bb0pye is started

,_submission,id,author,body,ups
0,1bb0pye,ku6807m,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1bb0pye is completed
1b8gggu is started

,_submission,id,author,body,ups
0,1b8gggu,ktp0rcm,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b8gggu,ktpq5nz,New-Pollution3778,Decisions came out?,1
2,1b8gggu,kts9fvy,holiztic,EA came out months ago,1
3,1b8gggu,ktsipay,New-Pollution3778,Ohhhhhhhhh,2

1b8gggu is completed
1b8g6f3 is started

,_submission,id,author,body,ups
0,1b8g6f3,ktoyu7h,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b8g6f3,ktp193j,Bonkers_25,I think it's important to consider *where* you...,8
2,1b8g6f3,ktskktl,Spare_Judgment1407,Santa Clara it’s in the heart of Silicon Valle...,5
3,1b8g6f3,ktq3ub5,ilarym,You're in an SCU subreddit. The only correct ...,8
4,1b8g6f3,ktselsr,Leather_Special5345,"No, I expect people to be honest about their o...",0

1b8g6f3 is completed
1b7ka69 is started

,_submission,id,author,body,ups
0,1b7ka69,ktj378c,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b7ka69,kwj6hzh,taylorswiftfanclub89,I'm in the same boat. I'm also an alternate fo...,2
2,1b7ka69,ktk8p08,Present_Constant1264,Idk but I’d email someone in the honors program.,1
3,1b7ka69,ktkvhew,New-Pollution3778,Are you a first year undergrad?,1
4,1b7ka69,ktm0xtw,holiztic,I’m guessing a lot of those offered space in t...,1
5,1b7ka69,ktq51ob,Infinite-Economist52,How are you guys getting your decisions already?😭,1
6,1b7ka69,l2xdbeo,akislvr,have you recieved anything??,1
7,1b7ka69,ktlk7j2,Obvious-Baker1731,Yeah well rising first year undergrad,1
8,1b7ka69,kto2ilp,Obvious-Baker1731,Yeah that’s what I was thinking,2
9,1b7ka69,ktrj433,Obvious-Baker1731,They prob emailed waitlisted only and r waitin...,1
10,1b7ka69,l2xxghv,taylorswiftfanclub89,"no, but I ended up committing to another schoo...",1
11,1b7ka69,ktmbfgu,New-Pollution3778,You got your decision back?,1
12,1b7ka69,kto2h1l,Obvious-Baker1731,Yeah,1
13,1b7ka69,ktpnaep,New-Pollution3778,Not me🥲 what was your major,1
14,1b7ka69,ku96v86,Traditional-Win-5053,I’m assuming they applied early action which i...,1

1b7ka69 is completed
1b7kvmm is started

,_submission,id,author,body,ups
0,1b7kvmm,ktj7byc,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b7kvmm,kuhl1a0,spicyjamgurl,uh i like it fine. it can be a lot of work but...,3

1b7kvmm is completed
1b7h5dq is started

,_submission,id,author,body,ups
0,1b7h5dq,ktihrtq,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1b7h5dq is completed
1b7dnhv is started

,_submission,id,author,body,ups
0,1b7dnhv,kthst3g,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1b7dnhv is completed
1b62ex8 is started

,_submission,id,author,body,ups
0,1b62ex8,kt986gb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b62ex8,kub0kz5,Wonderful_Ad6675,Check my profile out. I have some reviews on it,1

1b62ex8 is completed
1b52zj2 is started

,_submission,id,author,body,ups
0,1b52zj2,kt2s2ee,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1b52zj2 is completed
1b4ait8 is started

,_submission,id,author,body,ups
0,1b4ait8,ksxn0gj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b4ait8,ksxrcan,LS4delorean,100% agree. I complained about this already in...,3
2,1b4ait8,kt1ydg8,OwnThatIsh,How much does SCU pay for gardeners?,1
3,1b4ait8,kt96chq,The_Potato_7,as a prospective student looking to major in C...,1
4,1b4ait8,kt2yw98,Boring-Focus8052,Idk but enough to be mowing lawns 7 days a wee...,4
5,1b4ait8,kt98v00,Boring-Focus8052,I’d actually recommend coen and elen here. The...,4
6,1b4ait8,kuxnd6v,SwedishAviator,COEN Department here is great. They’ve gotten ...,2

1b4ait8 is completed
1b46yck is started

,_submission,id,author,body,ups
0,1b46yck,kswzttt,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b46yck,ksxw6gn,LS4delorean,"Join rugby, it’s got social life and coach and...",4
2,1b46yck,ksz9bf1,letusc4968,"It’s pretty good, frats and stuff is mostly fr...",2
3,1b46yck,ksxy678,New-Pollution3778,Did you get any aid,1
4,1b46yck,kszmscr,Futurebass_Guy919,"Since you mentioned serving in the marines, yo...",1
5,1b46yck,kszo7ce,Futurebass_Guy919,But I will say I am biased because I just don’...,-1
6,1b46yck,kt41pn6,PrintOk8045,"I mean, you're going to be 6 years older than ...",1
7,1b46yck,kt01x79,LS4delorean,That’s cause some people go to college and sta...,0
8,1b46yck,kt04kfo,LS4delorean,I feel like there’s a lot more moderate people...,0

1b46yck is completed
1b2thnt is started

,_submission,id,author,body,ups
0,1b2thnt,ksnrxaa,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1b2thnt is completed
1b1ppc4 is started

,_submission,id,author,body,ups
0,1b1ppc4,ksg6e2h,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1b1ppc4 is completed
1b14vju is started

,_submission,id,author,body,ups
0,1b14vju,ksc94t9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1b14vju,kscajvq,New-Pollution3778,Where you interning at,1

1b14vju is completed
1azcf3k is started

,_submission,id,author,body,ups
0,1azcf3k,ks0csel,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1azcf3k,ks65d9f,4100backspace,"Hi, I am interested. Can you please share the ...",1
2,1azcf3k,ksart3m,DistributionStreet58,W,1
3,1azcf3k,ksas8hh,DistributionStreet58,We are looking at the Domicilio apartments on ...,1
4,1azcf3k,kskmuqs,4100backspace,Thanks for the information. I am specifically ...,1
5,1azcf3k,kslppnc,DistributionStreet58,We may be signing it in June July timeframe. ...,1
6,1azcf3k,ksm1vre,4100backspace,Alright. Let me know if you sign your lease in...,1

1azcf3k is completed
1ayoy6a is started

,_submission,id,author,body,ups
0,1ayoy6a,krw4be4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ayoy6a,kzhuvun,mcquang,"hey, looking for a roomate starting June and t...",1
2,1ayoy6a,ks65hqf,4100backspace,I am looking for a roommate,1

1ayoy6a is completed
1axtt93 is started

,_submission,id,author,body,ups
0,1axtt93,krqb4jt,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1axtt93 is completed
1awx55p is started

,_submission,id,author,body,ups
0,1awx55p,krk83t2,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1awx55p is completed
1awwwzd is started

,_submission,id,author,body,ups
0,1awwwzd,krk6gke,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1awwwzd is completed
1awip6b is started

,_submission,id,author,body,ups
0,1awip6b,krhctbd,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1awip6b is completed
1aw0oia is started

,_submission,id,author,body,ups
0,1aw0oia,kre4io1,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1aw0oia is completed
1au84ej is started

,_submission,id,author,body,ups
0,1au84ej,kr26aw3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1au84ej,krdor8q,-lmayonnaise-,The gpa range is 3.7-3.97 for college of engin...,1
2,1au84ej,krbaq27,Puzzleheaded_Map_873,“Hard” is subjective. Without knowing anything...,1
3,1au84ej,krdp3ej,New-Pollution3778,Genuine question how does someone even work in...,1
4,1au84ej,krdplfr,-lmayonnaise-,"I honestly couldn’t say, as that’s not what I ...",2
5,1au84ej,krdpouh,New-Pollution3778,Wow thanks for all the info,1
6,1au84ej,krdprbz,-lmayonnaise-,Np :),1

1au84ej is completed
1au3y8y is started

,_submission,id,author,body,ups
0,1au3y8y,kr1epzo,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1au3y8y,kw0kgct,akh891,I am also interested in subleasing this summer,1
2,1au3y8y,krc4x3z,EveningSpeaker3663,There will be tons of students who would kill ...,1
3,1au3y8y,krf578e,Far-Painter-8093,That sounds nice. Thank you for you comments. ...,1

1au3y8y is completed
1au616q is started

,_submission,id,author,body,ups
0,1au616q,kr1srhk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1au616q,kr22xsc,letusc4968,"I work at the front desk of benson, so when yo...",13
2,1au616q,kr2dc7e,JJYellowShorts,Was the IM basketball ref running up and down ...,8
3,1au616q,kr3svr7,themexpride,SCU probably overstaffs and overpays admin at ...,1
4,1au616q,kr39y5d,iSezdis,Customer service has gone way downhill. I work...,-1
5,1au616q,kr2hr9t,Wonderful_Ad6675,"I feel like university managers aren't strict,...",-1
6,1au616q,kr2c3gs,Wonderful_Ad6675,"Well see, instead of overstaffing they can jus...",-4
7,1au616q,kr2e7lo,Wonderful_Ad6675,Lol no. He was just sitting on the bench. I me...,-4
8,1au616q,kr3tb1a,Wonderful_Ad6675,I can’t transfer out because I’m way too inves...,0
9,1au616q,kr3a8np,Wonderful_Ad6675,"Yeah I feel like with cell phones, and technol...",-1
10,1au616q,kr2jswx,Wonderful_Ad6675,I worked for private employers who did not all...,0
11,1au616q,kr3zvv4,ExcellenttRectangle,Tuition is not high because of student staff c...,4
12,1au616q,kr2kap8,Wonderful_Ad6675,Doing homework on the clock is super beneficia...,2
13,1au616q,kr2gnlw,JJYellowShorts,"Fun fact, it costs $40 per player per intramur...",5
14,1au616q,kr3acli,Wonderful_Ad6675,I mean I just see those guys just doing their ...,0
15,1au616q,kr3iuxk,iSezdis,Definitely! Parenting has gone downhill too be...,1
16,1au616q,kr3izs1,iSezdis,"If they have nothing else to do, but they stil...",1

1au616q is completed
1atfxmw is started

,_submission,id,author,body,ups
0,1atfxmw,kqx078h,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1atfxmw,kqy4ixw,Present_Constant1264,1. TLDR: Greek life is pretty decently promine...,2
2,1atfxmw,kqxweav,New-Pollution3778,What major,1
3,1atfxmw,kr3fh1z,Real-male-,Males cannot get into evening frat parties. Fe...,2
4,1atfxmw,kqycg73,Obvious-Baker1731,Cool thanks,1
5,1atfxmw,kres724,Frosty_Switch_6537,How is it with pledging for sororities?,1
6,1atfxmw,kqxynsu,Obvious-Baker1731,Undecided prob Econ or poli sci,1
7,1atfxmw,kr5q1c0,holiztic,"So even if you are in a frat, you can only go ...",2
8,1atfxmw,kz5wysa,Present_Constant1264,"From what I hear, sororities don’t really haze...",1
9,1atfxmw,kr811jq,iSezdis,"Ha, that is the point of joining a frat, for b...",2
10,1atfxmw,kr89330,holiztic,Thank you for that information explanation. It...,2

1atfxmw is completed
1asx6yg is started

,_submission,id,author,body,ups
0,1asx6yg,kqt8fn7,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1asx6yg,kqubx51,PenTraditional2631,"I can't help you OP, but I do have a question....",3
2,1asx6yg,kr0yu04,-lmayonnaise-,"You’re going to be switching entire schools, s...",3
3,1asx6yg,kr1pzmf,Real-male-,Paid college counselors often advise this for ...,5
4,1asx6yg,kquehb8,Ambitious_Growth_587,Actually I believed that it’s easier to get in...,2
5,1asx6yg,kr0znvn,Ambitious_Growth_587,"First of all, thank you for this information a...",1
6,1asx6yg,kr3auxt,PenTraditional2631,"I thought that was the reason too, but I didn'...",2
7,1asx6yg,kr0zxdq,-lmayonnaise-,There’s no such thing. Your only option if you...,1
8,1asx6yg,kr1062w,Ambitious_Growth_587,What about this: https://www.scu.edu/business/...,1
9,1asx6yg,kr10axq,Ambitious_Growth_587,This is put under leavay on their official web...,1
10,1asx6yg,kr10sy1,-lmayonnaise-,Ah I understand the confusion. So the informat...,1
11,1asx6yg,kr1193t,Ambitious_Growth_587,"Hm, it’s clear now… so what should I do if I w...",1
12,1asx6yg,kr12ayz,-lmayonnaise-,"No no, certainly not. Your current admission s...",2
13,1asx6yg,kr1lgif,Real-male-,"No, there is also CS in the Arts & Sciences.",2
14,1asx6yg,kr12ray,Ambitious_Growth_587,"Understood, thank you for the information. I r...",1
15,1asx6yg,krw01xu,Ambitious_Growth_587,Yes that’s what I said,1
16,1asx6yg,krw02el,Ambitious_Growth_587,I was thinking of that only,1
17,1asx6yg,kr1347w,-lmayonnaise-,"No problem, happy to help :) I was an ambassad...",2
18,1asx6yg,kr1o2bk,Real-male-,"If you are correct, that it's not so easy, tha...",2
19,1asx6yg,kr13k8g,Ambitious_Growth_587,That’s great! 😃,1

1asx6yg is completed
1asxsyu is started

,_submission,id,author,body,ups
0,1asxsyu,kqtbrwp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1asxsyu,kquwga6,malinny,I’ve replied to your other post. It just might...,9
2,1asxsyu,kqueua8,BaakCoi,"For one thing, UC Davis has over ten times the...",6
3,1asxsyu,kqz71k2,Um_yeah_right_,"UCD = 41,000 students vs. 9100 SCU students. T...",3
4,1asxsyu,kqy5maw,Present_Constant1264,Funny I have a friend from Davis who says the ...,1
5,1asxsyu,kqwi476,Wonderful_Ad6675,Yeah but like I mentioned I've been doing clu...,1
6,1asxsyu,kqwj1bv,Wonderful_Ad6675,"Yeah that makes sense. Idk, I have classes wit...",1
7,1asxsyu,kqy8opu,Wonderful_Ad6675,"Really I’m always out in the library, benson, ...",1
8,1asxsyu,kqwkd8p,malinny,I didn't feel at all as an undergrad that peop...,2
9,1asxsyu,kqwl569,Wonderful_Ad6675,"Yeah that's true. IM sports seems better, I th...",1

1asxsyu is completed
1as2qo6 is started

,_submission,id,author,body,ups
0,1as2qo6,kqnn6lb,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1as2qo6,krl7yvv,iSezdis,SCU has the mandatory 2-year dorm stay so that...,1
2,1as2qo6,krw3gyu,CharmingAnt728,If you live within a ~30 mile radius of the sc...,1

1as2qo6 is completed
1ar2u3z is started

,_submission,id,author,body,ups
0,1ar2u3z,kqgteor,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1ar2u3z is completed
1apb46o is started

,_submission,id,author,body,ups
0,1apb46o,kq4z1fl,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1apb46o,kq5744o,holiztic,Good can mean so many different things. My son...,3
2,1apb46o,kq5novm,bigwallets,Indiana definitely has more school spirit than...,1
3,1apb46o,kq77fjq,Ambitious_Growth_587,Have you got your decision?,1
4,1apb46o,kq970u8,GroundbreakingRow163,I know both schools. IU has a better rep for ...,1
5,1apb46o,kqjk1r2,DistributionStreet58,Well IU and UT are both huge power 5 schools w...,1
6,1apb46o,kqrvwie,According_Dot2110,I’m also considering Scu for business this fal...,1
7,1apb46o,kqy7gn1,Present_Constant1264,"Tennessee does not have good weather, don't kn...",1
8,1apb46o,kq77ggc,Ambitious_Growth_587,From Santa Clara,1
9,1apb46o,kq77ipf,Majestic-Fill-5783,"wdym? i have been accepted to all, into the bu...",1
10,1apb46o,ksayotj,Majestic-Fill-5783,wow thank you so much this was so helpful. \nT...,1
11,1apb46o,kq77mss,Ambitious_Growth_587,Cause I applied to scu ed 2 but haven’t gotten...,1
12,1apb46o,kq77tzv,Ambitious_Growth_587,Did you do ed1 cause I am scared I won’t get i...,1
13,1apb46o,kz1bzne,Present_Constant1264,Sorry for the late reply - I'll answer these o...,1
14,1apb46o,kq77vqe,Majestic-Fill-5783,nah just early action that why i have other op...,1
15,1apb46o,kq77x2j,Ambitious_Growth_587,Oh alright. Understood,1

1apb46o is completed
1ap55ns is started

,_submission,id,author,body,ups
0,1ap55ns,kq3ti0e,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1ap55ns is completed
1aodx28 is started

,_submission,id,author,body,ups
0,1aodx28,kpyl6tc,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1aodx28,kpzf2lt,kickbuttowski_89,Look for swades scu on facebook or instagram- ...,2
2,1aodx28,l1695c3,AromaticExtent2403,Bhai kitna Tution fees he SCU MS CS ka...Pleas...,1
3,1aodx28,kpyn3xf,JJYellowShorts,We don’t use WhatsApp in America lol,-5
4,1aodx28,kpyzhpu,holiztic,"There’s a discord group, I think, but I don’t ...",1
5,1aodx28,kq1wanz,freeyoungboy321,Did you get mailed or emailed?,1
6,1aodx28,kq24917,Ambitious_Growth_587,I am from India too and awaiting decision for ...,1

1aodx28 is completed
1anv7t2 is started

,_submission,id,author,body,ups
0,1anv7t2,kpuwy5d,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1anv7t2,kpv3hvm,idkcat23,Nope,5
2,1anv7t2,kpvxbgy,King_Apple,Nope. It's only for students and alumni.,4
3,1anv7t2,kpv1cqz,tzetzat,Following,1
4,1anv7t2,kq3tsmu,Sure_Instance1548,"you can use it, you just have to pay for a ""me...",1
5,1anv7t2,krw3vh5,CharmingAnt728,Can you go if you go with a student?,1
6,1anv7t2,kq6i69e,Normal_Instance20,How much does membership cost?,1
7,1anv7t2,ksdcrtc,Normal_Instance20,Is that allowed?,1
8,1anv7t2,kq6kkfd,Sure_Instance1548,"I can't remember off of the top of my head, bu...",1

1anv7t2 is completed
1an8mpp is started

,_submission,id,author,body,ups
0,1an8mpp,kpqtmh3,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1an8mpp,l4mchoj,whoosh7,Very interested - is it still available?,1

1an8mpp is completed
1am5zh9 is started

,_submission,id,author,body,ups
0,1am5zh9,kpjfz6a,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1am5zh9,kpji74h,flat5,Website says notification by mail by April 1st...,4
2,1am5zh9,kr7x3di,iSezdis,Ask your SCU college counselor: [https://www.s...,1
3,1am5zh9,krdooz4,freeyoungboy321,So i can’t change major once I am admitted to ...,1
4,1am5zh9,krdtt7r,iSezdis,"It's a pre-nursing program, not a full nursing...",1

1am5zh9 is completed
1aly2l3 is started

,_submission,id,author,body,ups
0,1aly2l3,kphs5ub,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1aly2l3,kpi29if,letusc4968,Your chances seem pretty good! About 10 percen...,1
2,1aly2l3,kpiyusi,freeyoungboy321,"Yes, your getting in.",1
3,1aly2l3,kpi33on,Admirable_Internet69,And also I got 2 recommendations from teacher ...,2
4,1aly2l3,kpi2ns3,Admirable_Internet69,"Like I am worried that , our Grading system is...",1
5,1aly2l3,kpj5i3f,Admirable_Internet69,Thank you man,1
6,1aly2l3,kpi32st,letusc4968,I don't think it's something to be too concern...,1
7,1aly2l3,kr7xbon,iSezdis,Were you admitted? ED2 decisions released last...,1
8,1aly2l3,kpi36td,Admirable_Internet69,Ah okay it’s great to study there man,2
9,1aly2l3,kr8ac4g,Admirable_Internet69,Rejected 100% cuz of money,1
10,1aly2l3,kr8mf98,iSezdis,"Oh, bummer, so sorry to hear that. Best wishes...",1
11,1aly2l3,kr8w2nb,Admirable_Internet69,"Yeah , thank you man , good luck",2

1aly2l3 is completed
1alodhf is started

,_submission,id,author,body,ups
0,1alodhf,kpg3kgb,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1alodhf is completed
1akp20s is started

,_submission,id,author,body,ups
0,1akp20s,kp9amen,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1akp20s,kpam621,CeeTeePee,95% sure you’ll get in. \n\nMost people I met ...,3
2,1akp20s,kqba4o8,Regular_Document9711,Fellow wrastler 🫡💪🏽,2
3,1akp20s,kp9odsq,Funkymonkey4rl,85%,1
4,1akp20s,kqrwng3,According_Dot2110,"I am also a male us citizen, 3.7 gpa and I got...",1
5,1akp20s,kp9tycy,New-Pollution3778,Fr??,1
6,1akp20s,kqsk4mi,New-Pollution3778,I haven’t got accepted yet but idk,1
7,1akp20s,kpam1iu,Legitimate_Amoeba837,bro you’re good you don’t gotta worry at all,1

1akp20s is completed
1ajw6ya is started

,_submission,id,author,body,ups
0,1ajw6ya,kp3tvm1,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1ajw6ya,kp43k9t,idkcat23,SCU loves and needs transfers! If you have goo...,2
2,1ajw6ya,kp662ay,iSezdis,I don't know how competitive it is to transfer...,1

1ajw6ya is completed
1aj4erk is started

,_submission,id,author,body,ups
0,1aj4erk,koynw3p,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1aj4erk,kpee7ta,kickbuttowski_89,Pretty big as that department has the maximum ...,2
2,1aj4erk,kpfn9si,OkMarionberry5900,Great. Just two more questions: (1) how much i...,2
3,1aj4erk,kq3xbub,kickbuttowski_89,So i did my MS 5 years ago and i was married a...,1

1aj4erk is completed
1ae76y6 is started

,_submission,id,author,body,ups
0,1ae76y6,kk60syj,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1ae76y6 is completed
1adnt68 is started

,_submission,id,author,body,ups
0,1adnt68,kk2geu7,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1adnt68 is completed
19crll3 is started

,_submission,id,author,body,ups
0,19crll3,kj0o917,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,19crll3,kj1cisn,FitzwilliamTDarcy,"Well whatever else you do, write a clear, conc...",6
2,19crll3,kp67leh,iSezdis,Your best bet is to look on the SCU admissions...,1
3,19crll3,kj1j350,Ambitious_Growth_587,Oh okay..will have to look into that. Thank yo...,1
4,19crll3,kpbehqh,Effective-Slip9251,"Okay, i did not know that, thanks for the info..",2
5,19crll3,kpbekq8,Effective-Slip9251,"I have submitted my first sem grades, but the ...",1
6,19crll3,kj36pcu,None,"All the best, you can try to get a simple sign...",2
7,19crll3,kpbhk3h,iSezdis,"Unsure if SCU needs to know those grades, I kn...",1
8,19crll3,kpbiwpk,Ambitious_Growth_587,"Okay, thank you…will contact the counsellor AS...",1

19crll3 is completed
19cdy9v is started

,_submission,id,author,body,ups
0,19cdy9v,kixyza4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,19cdy9v,kizn8pf,John6417,This was my exact situation! I seem to remembe...,6
2,19cdy9v,kj55ayh,newmsrd,I went to Santa Clara. It was great. I didn't ...,6
3,19cdy9v,kpe3fd0,-lmayonnaise-,"SCU all the way, no debate. We still have an e...",2
4,19cdy9v,kqy7qoa,Present_Constant1264,Lot of friends from high school that go to LMU...,2

19cdy9v is completed
19bteq0 is started

,_submission,id,author,body,ups
0,19bteq0,kiu36yw,AutoModerator,Welcome to the **Santa Clara University** subr...,1

19bteq0 is completed
19bnpkc is started

,_submission,id,author,body,ups
0,19bnpkc,kiswcfp,AutoModerator,Welcome to the **Santa Clara University** subr...,1

19bnpkc is completed
19ap9f3 is started

,_submission,id,author,body,ups
0,19ap9f3,kimbkaj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,19ap9f3,kinndgh,letusc4968,It really depends on the things like aid and s...,1
2,19ap9f3,kinnpox,Long_Slong69,And they pay me about 1600 about a quarter so ...,1
3,19ap9f3,kp6acze,iSezdis,"Tuition alone is $59,000. There is a mandatory...",1
4,19ap9f3,kqy81g4,Present_Constant1264,Currently pay \~59k to go here and have about ...,1
5,19ap9f3,kp6aqzx,iSezdis,"You are very fortunate, that is very low, Gues...",2
6,19ap9f3,kpe7ahx,-lmayonnaise-,Hey this is not fully true; while we don’t hav...,1
7,19ap9f3,kqy8i4i,New-Pollution3778,Damn bro Ngl aren’t you gonna be in debt? Like...,1
8,19ap9f3,kpe90fu,iSezdis,"Thanks for salt in the wound, LOL. No, actuall...",1
9,19ap9f3,kz1cwlf,Present_Constant1264,Both. Like I am taking on some student loans b...,2
10,19ap9f3,kz1d0n8,New-Pollution3778,Damn at least you secured an internship for th...,1
11,19ap9f3,kz4fdfm,Present_Constant1264,Product management at a cybersecurity firm. If...,1

19ap9f3 is completed
19a53l1 is started

,_submission,id,author,body,ups
0,19a53l1,kiijkd8,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,19a53l1,kiisc45,Leo_Chen_zy,I'm curious as to your reasons to switch to CS...,6
2,19a53l1,kiin4ro,Dangerous_Medicine26,"yea, it’s hard to switch to the engineering sc...",4
3,19a53l1,kiiup8c,idkcat23,"The CSE major is the superior major, so unless...",1
4,19a53l1,kij4fg8,themexpride,"As an alumni CS (CAS), stick to CSE. Most of y...",1
5,19a53l1,kijhq91,jason__corn,DONT SWITCH TO CS TRUST ME\n\nI'm suffering ov...,1
6,19a53l1,kij0z8q,Rowan926,CSE has way more science classes and labs thou...,1
7,19a53l1,kijyr9l,Agreeable-Outside-69,[https://www.reddit.com/r/SCU/comments/wvpzlf/...,1

19a53l1 is completed
1993ivb is started

,_submission,id,author,body,ups
0,1993ivb,kibb799,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1993ivb,kibec0b,idkcat23,You won’t get aid as an international student ...,16
2,1993ivb,kk3d1rm,Flat_Pangolin8845,"wait, im literally having the same situation. ...",1
3,1993ivb,kibnmdw,Revolutionary_Oil_74,oh so the scholarships aren't mainly for inter...,0
4,1993ivb,kk3dmve,Revolutionary_Oil_74,You should not have applied ED2 if you knew yo...,3
5,1993ivb,kic452e,idkcat23,Nope. Many exclude internationals entirely or ...,4
6,1993ivb,kk3dw9w,Flat_Pangolin8845,"oh, thank you! so its possible to email them r...",2
7,1993ivb,kr7xxm8,iSezdis,"Plus, SCU on the whole, does not give out as m...",1
8,1993ivb,kk3e33h,Revolutionary_Oil_74,It shouldn't be an issue! Explain your case to...,2
9,1993ivb,kk3e53g,Flat_Pangolin8845,thank you!,2
10,1993ivb,kk3ehv0,Revolutionary_Oil_74,Anytime!,2

1993ivb is completed
197tnjr is started

,_submission,id,author,body,ups
0,197tnjr,ki2twr0,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,197tnjr,ki2wmgb,JJYellowShorts,1. Can't speak on the honors college\n2. Peopl...,5
2,197tnjr,ki5hw5u,letusc4968,1) it’s not anything super crazy or exclusive ...,3
3,197tnjr,ki306e6,themusician11,1. It's not completely set aside. They don't h...,2
4,197tnjr,kj5zyog,Spare_Judgment1407,How hard is it to join Greek life especially s...,2
5,197tnjr,l3gz7ta,0414bc,"Hi, I am an incoming freshman and was wonderin...",1
6,197tnjr,ki33k4w,No-Writing-2439,"This was really helpful, thank you so much! Wh...",1
7,197tnjr,ki33fvl,No-Writing-2439,Thank you!!,1
8,197tnjr,kpe5qbp,-lmayonnaise-,Impossible if you’re not white lol. Rushing en...,1
9,197tnjr,ki35rir,JJYellowShorts,"oh yea, Swig and San Fillippo are the only one...",3
10,197tnjr,ki5efsm,letusc4968,Mcwalsh sadly doesn’t have AC either,2

197tnjr is completed
197w7ja is started

,_submission,id,author,body,ups
0,197w7ja,ki3a0o2,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,197w7ja,l1z1sex,Consistent_Video_484,Hi there! The same thing happened to me this y...,1
2,197w7ja,ki3gegv,Funkymonkey4rl,You’re guaranteed one of your top three houses,-6
3,197w7ja,ki4loi0,holiztic,Does putting in your deposit and list early (t...,1
4,197w7ja,ki4l509,JJYellowShorts,That is completely false. I have friends that ...,5
5,197w7ja,ki44d7z,holiztic,Really? How do you know this? Why ask for 8?,1
6,197w7ja,ki6syrn,Dire1905,Hopefully! My roommate and I decided to do hou...,2
7,197w7ja,ki4l888,JJYellowShorts,He’s wrong,2

197w7ja is completed
197ry6g is started

,_submission,id,author,body,ups
0,197ry6g,ki2glh2,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,197ry6g,ki2qj84,No-Writing-2439,Submitting my video portion right now. The pro...,3
2,197ry6g,ki2uwlo,Willing-Ad-180,"oh dang okay thanks so much, i couldnt find an...",1
3,197ry6g,ki2qmhp,Willing-Ad-180,how long does it have to be or is it recommend...,1
4,197ry6g,ki4n0pv,holiztic,Once you submit your written answer you get th...,1
5,197ry6g,ki2royx,No-Writing-2439,The actual video portion is 2 minutes max but ...,1

197ry6g is completed
194rcip is started

,_submission,id,author,body,ups
0,194rcip,khhw7t1,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,194rcip,khm2dtu,YoCaliBro,Someone put the game on the TV at my gym in Sa...,6
2,194rcip,khjkwix,MagisAMDG,Bal looks NBA caliber.,3
3,194rcip,khhw959,5torm,"Didn’t ask, fuck the zags, sco ‘cos",3

194rcip is completed
194z1q8 is started

,_submission,id,author,body,ups
0,194z1q8,khjaevv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,194z1q8,khmphg7,letusc4968,For housing application I’m pretty sure you ra...,3
2,194z1q8,kpe3y9i,-lmayonnaise-,I’d recommend McLaughlin-Walsh or Finn dependi...,2
3,194z1q8,khtsa7l,Child_Beeter,thank you so much,1

194z1q8 is completed
1940etl is started

,_submission,id,author,body,ups
0,1940etl,khcp3sw,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1940etl,khdide1,trish199,"Yes, Basic and you can always add if that is n...",4
2,1940etl,kpe439j,-lmayonnaise-,Agreed! I literally had points to give away at...,2
3,1940etl,khdy69k,PackFit8970,Thanks!,1
4,1940etl,kph1jql,iSezdis,"Ugh, yeah, for the tuition we pay, they should...",1

1940etl is completed
193gz1u is started

,_submission,id,author,body,ups
0,193gz1u,kh92o2k,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,193gz1u,khawotj,themexpride,No benefit unless pursing a career in academia...,4
2,193gz1u,kh9j39a,FitzwilliamTDarcy,Were you invited to apply to the honors progra...,3
3,193gz1u,khj3f9x,GroundbreakingRow163,Do it! My student is in it for ME. You get pri...,3
4,193gz1u,kh96t3c,New-Pollution3778,What were your highschool stats,1
5,193gz1u,kpe4z97,-lmayonnaise-,I went thru the honors program and will disagr...,2
6,193gz1u,khah0ew,Majestic_Oil_399,invited to apply,1
7,193gz1u,khp6t82,holiztic,"The application is due Tuesday, not yesterday",1
8,193gz1u,khagzdb,Majestic_Oil_399,i have a 4.2 cumulative gpa,1
9,193gz1u,khazqg2,New-Pollution3778,I’m screwed,2

193gz1u is completed
19309m7 is started

,_submission,id,author,body,ups
0,19309m7,kh60m8z,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,19309m7,kh6q0hu,iSezdis,"Just a tip, don't go looking for info on him, ...",3
2,19309m7,khax547,themexpride,Another CS student again. When will SCU do som...,3
3,19309m7,khdito3,trish199,My niece lives in his dorm and it sounds like ...,1
4,19309m7,khxjjaa,coast-to-desert,"Ugh, I missed this post 😑 Horrible, will be pr...",1
5,19309m7,khxx76j,iSezdis,"On December 4, 2023, SCU sent parents and stud...",1
6,19309m7,khxjhz1,coast-to-desert,>homas Nelson\n\nSo is this a real post?,1
7,19309m7,khbel4m,John6417,"Different department, with different professor...",7
8,19309m7,kheku1p,None,>My niece lives in his dorm and it sounds like...,4
9,19309m7,khbg9y4,themexpride,Both sides shared similar issues when I was th...,1
10,19309m7,kheld4k,trish199,That’s so sad. I can’t imagine what the family...,1
11,19309m7,khbh2ti,John6417,"Totally feel this, just wanted to clarify that...",5

19309m7 is completed
192uxd1 is started

,_submission,id,author,body,ups
0,192uxd1,kh4ytu7,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,192uxd1,kh50ckv,BaakCoi,Graham and Finn (mini suites) are easily the b...,3
2,192uxd1,kh5f4r3,holiztic,Have you been asked to choose a dorm already? ...,2
3,192uxd1,kh5zcma,None,I'm class of 2027. I'm very introverted. Swig ...,2
4,192uxd1,kh5zxjh,YoCaliBro,I lived in Graham my first 2 years and loved i...,2
5,192uxd1,kh6tedq,Rowan926,Dunno why no one’s mentioning sobrato. Sobrato...,2
6,192uxd1,kh58ln9,Funkymonkey4rl,1. Finn \n2. Graham \n3. Dowd,1
7,192uxd1,kh6ros0,iSezdis,"In sophomore year, you can choose to stay in y...",1
8,192uxd1,khj4q8j,GroundbreakingRow163,"Live in Graham, Finn or Dunne then go to hang ...",1
9,192uxd1,kh60ww3,IdontlikeMaths28,I like that a lot,1
10,192uxd1,kh60pid,IdontlikeMaths28,"The website told me the portal was open today,...",2
11,192uxd1,kh606lt,YoCaliBro,"If you're an introvert, avoid Swig like the pl...",3
12,192uxd1,kh60tcn,IdontlikeMaths28,oh geez... thx for the useful tips,1
13,192uxd1,kh60ud8,IdontlikeMaths28,got it!,1
14,192uxd1,kh7ockh,holiztic,Can freshman get a single bedroom in a suite g...,1
15,192uxd1,kh60v0p,IdontlikeMaths28,thx!,1
16,192uxd1,kh60top,None,>avoid\n\nbro I live in swig 💀💀😭😭,1
17,192uxd1,kh61f2q,YoCaliBro,"Good luck! Most of all, have a good time. You ...",1
18,192uxd1,kh8y6jm,Rowan926,Yep! Freshman suites have 4 singles and 1 doub...,2
19,192uxd1,kh60xsn,YoCaliBro,Well shit. Make some friends man. If you have ...,1
20,192uxd1,kh61vmd,IdontlikeMaths28,Thanks for the sincere notes! I'm currently re...,2
21,192uxd1,kh61v7o,None,>Well shit. Make some friends man. If you have...,1

192uxd1 is completed
192tq8e is started

,_submission,id,author,body,ups
0,192tq8e,kh4qe5w,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,192tq8e,kiv6vof,The-Lemur,Will this be available next year and are grad ...,2
2,192tq8e,kj046ds,MadEyeCorporalki,We are hoping so! And yes this is open to all 😊,1
3,192tq8e,kj06c6z,The-Lemur,Thank you!,2

192tq8e is completed
192wvcv is started

,_submission,id,author,body,ups
0,192wvcv,kh5cshz,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,192wvcv,kh5yzed,None,You could probably dance in the dance facility...,3

192wvcv is completed
1931jxb is started

,_submission,id,author,body,ups
0,1931jxb,kh68g7w,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1931jxb is completed
190p5xu is started

,_submission,id,author,body,ups
0,190p5xu,kgppxd9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,190p5xu,kgqy1ib,Present_Constant1264,"Salad bar is priced by plate, and contains chi...",7
2,190p5xu,kgqpjka,idkcat23,Get the lowest dining plan they’ll let you get...,7
3,190p5xu,kgzye6n,Melodic-Permit-4273,Tell him to find a cute girl who doesn’t use a...,5
4,190p5xu,kgqe263,JJYellowShorts,There is no way to eat a lot without spending ...,3
5,190p5xu,kgrxcr0,themexpride,All of these comments bring up good points. Su...,3
6,190p5xu,kh4wd4o,SwedishAviator,Tell him to put Finn as his first choice for a...,2
7,190p5xu,khwso5b,Hirorai,There should still be a Subway across the stre...,2
8,190p5xu,kgr01mv,holiztic,"Well, that’s not good to read but we’d known t...",1
9,190p5xu,kgr8ppg,holiztic,I think he will need the highest dining plan p...,1
10,190p5xu,kh5zh9n,None,facts,1
11,190p5xu,kgqgkew,holiztic,I guess I’m looking for these types of tips (m...,1
12,190p5xu,kgrxs21,holiztic,Thanks! He has some dietary restrictions and t...,1
13,190p5xu,kh4wgl3,holiztic,Thank you!,1
14,190p5xu,kh5e9xa,holiztic,Just noticed it’s not on the Honors Program li...,1
15,190p5xu,khwzp91,holiztic,Thanks!,1
16,190p5xu,kgrfjpt,idkcat23,It’s way cheaper to get your own food. SCU pri...,3
17,190p5xu,kh5zmjw,None,"I agree more with what idkcat23 said, that you...",1
18,190p5xu,kgqgpnj,JJYellowShorts,"Well the poke bowls are pretty filling, that c...",2
19,190p5xu,kgrfsmg,holiztic,He does want the social aspect of the dining h...,1
20,190p5xu,kh5zpjs,None,">Well the poke bowls are pretty filling, that ...",2
21,190p5xu,kgqn8s4,holiztic,Thank you!,1
22,190p5xu,kqndvpo,Last_Drawer_4379,You're a great parent. I wished my parents sup...,2

190p5xu is completed
190lx8i is started

,_submission,id,author,body,ups
0,190lx8i,kgp70u2,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,190lx8i,kpveifx,nitzmode,Hi I’m interested if you’re still looking,1
2,190lx8i,kpvnzg1,BatDramatic8033,"Hey, thanks for reaching out! Can you please s...",1

190lx8i is completed
18ynrzf is started

,_submission,id,author,body,ups
0,18ynrzf,kgc0enj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18ynrzf,kgc32sk,BaakCoi,When I took chem 11 we used a digital lab note...,3
2,18ynrzf,kgccblh,None,"They said that, too, in the Syllabus this quar...",1

18ynrzf is completed
18xfmbr is started

,_submission,id,author,body,ups
0,18xfmbr,kg3uo12,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18xfmbr,kg6hk80,ResultAutomatic9942,"Hi, I’m a freshman CC student in the South Ba...",2
2,18xfmbr,kg6jqak,New-Pollution3778,Oh so how you only need to do one year at cc t...,1
3,18xfmbr,kg6kurt,ResultAutomatic9942,Yes you can apply after 1 year. Most private s...,2
4,18xfmbr,kg6o4rk,New-Pollution3778,Yup just seen the requirements! I can probably...,1
5,18xfmbr,kg6qpy6,ResultAutomatic9942,Oh damn thanks for telling me. I might hold of...,2

18xfmbr is completed
18wc3of is started

,_submission,id,author,body,ups
0,18wc3of,kfwtia8,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18wc3of,kfy9ok3,letusc4968,Move in day is actually Sunday January 7th! Cl...,2
2,18wc3of,kg7gsuq,mumu588,Welcome! Dorms open at 9am on Jan. 7th.,2
3,18wc3of,kfzi7hg,Consistent-Push3457,Hey I am also planning on transferring to fall...,1
4,18wc3of,kg24arn,None,Thank you so much!,1
5,18wc3of,kg23ven,None,I don't mind at all. I would be happy to answe...,1

18wc3of is completed
18vluhw is started

,_submission,id,author,body,ups
0,18vluhw,kfrzo5w,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18vluhw,kfs34oq,holiztic,My son was offered a 3.7k Bronco scholarship a...,4
2,18vluhw,kfswxnk,idkcat23,Almost every person I know at SCU has some sor...,4
3,18vluhw,kg270ne,Melodic-Permit-4273,"My best advice is just to apply, fill out the ...",2
4,18vluhw,kfs5lh4,la-quintessenza,Wow that's really impressive! I'm not even sur...,3
5,18vluhw,kg07dgf,la-quintessenza,Thank you!!,1
6,18vluhw,kfs7zdd,holiztic,There are honors (4.5) and Gifted & Talented (...,1
7,18vluhw,kfse8kz,la-quintessenza,Ok I understand better now. Thank you!!,2
8,18vluhw,kftg8do,holiztic,"But don’t worry, admissions officers know how ...",2

18vluhw is completed
18typle is started

,_submission,id,author,body,ups
0,18typle,kfgzuwy,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18typle,kfhh28r,Traditional_Table,"Idk if they ship books to your house, but if y...",3

18typle is completed
18s8xyf is started

,_submission,id,author,body,ups
0,18s8xyf,kf5vas9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18s8xyf,kf84uec,-lmayonnaise-,"Hi, congrats on acceptance :)\n\nHere’s the [l...",2
2,18s8xyf,kg3muvc,ChuckChumbucket,I just found out I got accepted to Santa Clara...,2
3,18s8xyf,kf8ea13,CanEquivalent3731,Thank you so much!!,1
4,18s8xyf,khhwk3m,Effective-Slip9251,"hi, if you dont mind sharing your stats, it wo...",1
5,18s8xyf,kjg7ilu,ChuckChumbucket,Ran a 5:00.1 min 1600m 10 months ago and a 17:...,1
6,18s8xyf,kjga1aa,Ambitious_Growth_587,"Hi, that’s great! But I actually wanted to kno...",2

18s8xyf is completed
18rjz7q is started

,_submission,id,author,body,ups
0,18rjz7q,kf1ktxx,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18rjz7q,kf1o4xs,-lmayonnaise-,"Hi, I have some friends who are veterans at SC...",4
2,18rjz7q,kf3kkpq,5torm,Imo the *vast* majority of undergrad students ...,2
3,18rjz7q,kf5v2av,chumperx,Just graduated from SCU in CS as a transfer an...,1
4,18rjz7q,kf5vgjn,Last_Drawer_4379,"One devil dog to another, do you recommend it?...",1
5,18rjz7q,kf5xy6e,chumperx,eh it was enough to get a degree. SCU is on a ...,1
6,18rjz7q,ku2xcl0,Sn0wman3690,I’m going to be attending SCU in the fall as a...,1
7,18rjz7q,kf5y49m,Last_Drawer_4379,Sweeet,1

18rjz7q is completed
18r54yy is started

,_submission,id,author,body,ups
0,18r54yy,keyzofp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18r54yy,kf1nh9o,5torm,Nearly all the dorms (at least based on the on...,7
2,18r54yy,kf0ro2m,Legend225,Yep. Forgot what building but I think near O c...,4
3,18r54yy,kh61k1h,None,"Wow, I can't believe you're asking this questi...",2
4,18r54yy,kf1okxu,-lmayonnaise-,"Yep, there’s a piano in first floor casa, I us...",4

18r54yy is completed
18olv6u is started

,_submission,id,author,body,ups
0,18olv6u,kehwp74,AutoModerator,Welcome to the **Santa Clara University** subr...,1

18olv6u is completed
18o9qz9 is started

,_submission,id,author,body,ups
0,18o9qz9,kefue4u,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18o9qz9,keg8hc0,None,[deleted],5
2,18o9qz9,keyhwe3,-lmayonnaise-,"Hi, I’m a former employee at the busn school a...",2
3,18o9qz9,keiy2sn,Nickel123456789,I applied CSE too with a 3.7 and i got in but ...,1
4,18o9qz9,ken9ppz,Legend225,Not into compsci. Any other major sure you hav...,1
5,18o9qz9,kk2x182,freeyoungboy321,Have you got an email back?,1
6,18o9qz9,kehnp1d,New-Pollution3778,Comp sci and engineering,1
7,18o9qz9,keyi0gx,New-Pollution3778,Thank you for your advice,1
8,18o9qz9,keizj9v,New-Pollution3778,Dang man well I applied to some csu and they c...,1
9,18o9qz9,kej87mg,Nickel123456789,It definitely helped as it came from my cs tea...,1

18o9qz9 is completed
18o08g4 is started

,_submission,id,author,body,ups
0,18o08g4,kee38nw,AutoModerator,Welcome to the **Santa Clara University** subr...,1

18o08g4 is completed
18ni6g9 is started

,_submission,id,author,body,ups
0,18ni6g9,keasj4s,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18ni6g9,keayq5h,mer9256,"SCU is a Catholic school, so it will tend to d...",17
2,18ni6g9,keclzeo,revengeneer,It is a catholic school but I don't believe yo...,9
3,18ni6g9,kebfu7j,holiztic,Atheist/agnostic son given a dean’s scholarshi...,3
4,18ni6g9,kecgby2,DistributionStreet58,It’s also a Jesuit school. The Jesuit order is...,3
5,18ni6g9,kecu2iu,SwissyDad,I went to a Jesuit school (BC) many moons ago ...,3
6,18ni6g9,keeyx0o,-lmayonnaise-,I’ve sat in on many admissions deliberations a...,3
7,18ni6g9,ken9dcg,Legend225,I don’t know many people who are religious and...,1
8,18ni6g9,keb3ksd,Balanceempty,I thought scotus approved discrimination based...,-2
9,18ni6g9,kfto2c6,Gundam_net,Is Bellermine a big feeder?,1
10,18ni6g9,kebfy31,mer9256,From the SCU website: \n\n> Santa Clara Univer...,4
11,18ni6g9,kg1gimp,revengeneer,Bellarmine is a huge feeder to SCU. Xavier Pre...,1
12,18ni6g9,kftnzm1,Gundam_net,There probably still is some unconcious bias a...,1
13,18ni6g9,kg4b290,Gundam_net,Figures. What about Holy Cross schools? East...,1

18ni6g9 is completed
18mlwju is started

,_submission,id,author,body,ups
0,18mlwju,ke50nyj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18mlwju,kec362r,macmannwood,You will still be allowed to apply for jobs on...,5
2,18mlwju,ke5oxi9,PenTraditional2631,Did everyone get the financial aid amount in t...,2
3,18mlwju,kedllv4,themexpride,Work study is money paid to the department tha...,1
4,18mlwju,kedav19,cherryazula,"That’s great, thank you!",2

18mlwju is completed
18mlzr9 is started

,_submission,id,author,body,ups
0,18mlzr9,ke51865,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18mlzr9,ke554qw,None,[deleted],2
2,18mlzr9,ke59dlq,Obvious-Baker1731,Have merit scholarships alresdy come out,1

18mlzr9 is completed
18mluka is started

,_submission,id,author,body,ups
0,18mluka,ke50bcp,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18mluka,ke5b4k1,letusc4968,I believe you get it some time in May and that...,3

18mluka is completed
18mdoxs is started

,_submission,id,author,body,ups
0,18mdoxs,ke3g48k,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18mdoxs,ke85en7,Tall_Independence_65,Looks like about \~70 students are accepted in...,5
2,18mdoxs,kfs0hic,la-quintessenza,"If your son started in the honors program, wha...",2
3,18mdoxs,ke8cqni,holiztic,I hope that’s true! My son just got an $18.7k ...,2
4,18mdoxs,kfs2rew,holiztic,He’s a senior in high school applying to the h...,3
5,18mdoxs,khfaej1,Fancy_Trade_7931,My Senior 23 applied but did not get it last y...,1
6,18mdoxs,khfdvz0,holiztic,Not sure! I’ll ask my son soon!,1

18mdoxs is completed
18l1opb is started

,_submission,id,author,body,ups
0,18l1opb,kduxgm4,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18l1opb,kdv89dc,letusc4968,I know there’s discord servers for the dorms t...,2
2,18l1opb,kebma4l,themexpride,https://discord.com/invite/scu-discord-network...,1

18l1opb is completed
18ka15k is started

,_submission,id,author,body,ups
0,18ka15k,kdpwcs6,AutoModerator,Welcome to the **Santa Clara University** subr...,1

18ka15k is completed
18jmltb is started

,_submission,id,author,body,ups
0,18jmltb,kdl48qk,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18jmltb,kdolv8u,Tiny-Mulberry-1300,Congrats! I would say the best thing to do is ...,6
2,18jmltb,kdnme54,Tasty_Ad_1824,Congrats! Unrelated: what were ur stats?,2
3,18jmltb,kdqxlom,visforvendetta777,Welcome!!,1
4,18jmltb,kdsdojx,holiztic,My son got into Leavey EA and is likely to com...,1
5,18jmltb,kdq56v0,PenTraditional2631,"Thank you and also could you elaborate on ""els...",1
6,18jmltb,kdq4yuy,PenTraditional2631,Thank you! I averaged around 85% through 4 yea...,3
7,18jmltb,kdu5oeq,PenTraditional2631,Thank you!!,1
8,18jmltb,kdu5n9n,PenTraditional2631,Congratulations! Does SCU send you any offers ...,1
9,18jmltb,kdzikg2,-lmayonnaise-,Here’s the link to the degree checklist for co...,2
10,18jmltb,kdu6124,holiztic,Didn’t apply for need-based aid but $82k is hi...,1
11,18jmltb,kdzrxl6,PenTraditional2631,"Hey, thanks a lot for sharing this with me! De...",1
12,18jmltb,kduczj8,PenTraditional2631,"My stats are about the same, with the ECs bein...",2
13,18jmltb,kdudl6h,holiztic,Someone said they saw “within a week of admiss...,2

18jmltb is completed
18hrt60 is started

,_submission,id,author,body,ups
0,18hrt60,kd8fr87,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18hrt60,kd98o3r,Stock-Brilliant-8599,Apply apply apply that’s the only way. Try get...,1

18hrt60 is completed
18h5pqv is started

,_submission,id,author,body,ups
0,18h5pqv,kd4hlgf,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18h5pqv,kdorv3x,PanickedFish,[https://github.com/chqngh-berkeley/personal/b...,1

18h5pqv is completed
18dl50g is started

,_submission,id,author,body,ups
0,18dl50g,kchmyf3,AutoModerator,Welcome to the **Santa Clara University** subr...,1

18dl50g is completed
18ack2m is started

,_submission,id,author,body,ups
0,18ack2m,kbwzcn9,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,18ack2m,kd63y1g,future_corpse_69,"Hey OP, \nI got my admit a couple of days bac...",1
2,18ack2m,kd67yvl,kaSSHHmir,Check your dm,1

18ack2m is completed
1876ocd is started

,_submission,id,author,body,ups
0,1876ocd,kbcjibv,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1876ocd,kbcwsg2,Swapan280,Hmm I didn’t take it but I know someone whose ...,2
2,1876ocd,kbdci9f,JJYellowShorts,Just ask to be dropped to 1. Should be pretty ...,1
3,1876ocd,kbe05af,tiramisugoi,"I took JAPN 1 back in 2021, so take this infor...",1
4,1876ocd,kbeztdd,idkcat23,I could not convince them to drop my Spanish p...,1
5,1876ocd,kbiqide,jason__corn,Taking it right now. \n\nhttps://dspace.lib.ha...,1
6,1876ocd,kbpsz23,Ch8ngus,Try talking to the professor. Professor Bauluz...,1

1876ocd is completed
186ekiv is started

,_submission,id,author,body,ups
0,186ekiv,kb7jihf,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,186ekiv,kb7xf4i,teemo_wrx,blowing off steams at the Hut is essential my ...,18
2,186ekiv,kb82hwa,Solfire,The things you're feeling right now about the ...,9
3,186ekiv,kbc2cfz,idkcat23,Evening MBA is a program for working adults wh...,6
4,186ekiv,kb7vmg6,AsianTSdoll,Welcome to adulthood dear…,5
5,186ekiv,kba1ene,DogShlepGaze,I got my MSEE at SCU - I was already in my 30s...,3
6,186ekiv,kbc2s2k,malinny,>Most students especially in the MBA program w...,3
7,186ekiv,khuks3b,coast-to-desert,"Hi friend, \n\nAs a SCU MBA Grad (SCUMBAG lol)...",2
8,186ekiv,kg5o7gw,Fun-Grapefruit-7641,Can you transfer out to a different MBA program?,1
9,186ekiv,kbcgha4,Wonderful_Ad6675,">Got it. As I said earlier, i know everyone ha...",-2
10,186ekiv,kbc8zwu,Wonderful_Ad6675,"Cause, doing it online would be no commuting. ...",-1
11,186ekiv,khvdm01,Wonderful_Ad6675,>essure to complete it on time. This leads to ...,1
12,186ekiv,kg5qgtt,Wonderful_Ad6675,Too late. Some of the electives wouldn't trans...,1
13,186ekiv,khug41h,coast-to-desert,"Not to my knowledge, MBA programs are unique i...",1
14,186ekiv,kbi9a21,themexpride,MBAs are the 2nd chance to strike gold in some...,1
15,186ekiv,kbc9tg1,malinny,Not interacting or being friendly is very diff...,3
16,186ekiv,khxidgd,coast-to-desert,Of course! Always happy to help in any way I c...,1
17,186ekiv,kieicms,Wonderful_Ad6675,"Yes, exactly. ^",1
18,186ekiv,kbikw7r,Wonderful_Ad6675,I feel like careers are closer to goods and se...,1
19,186ekiv,kbcgwx8,Wonderful_Ad6675,>Not interacting or being friendly is very dif...,-1
20,186ekiv,koep2h7,Wonderful_Ad6675,I hadn't had great experience networking at SC...,1

186ekiv is completed
185ie3k is started

,_submission,id,author,body,ups
0,185ie3k,kb1rh0u,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,185ie3k,kb24ss2,JJYellowShorts,Go to workday that’s where all the on campus j...,6
2,185ie3k,kb2drql,lemonboy77,As someone with two on-campus jobs found throu...,5
3,185ie3k,kb250a4,RonnieCh4,"Applied to a ton of jobs through workday, no c...",2
4,185ie3k,kb2dwif,RonnieCh4,"I don’t know what to say, have tried like craz...",1
5,185ie3k,kb26hoo,JJYellowShorts,Wow that sucks I was hoping to get an on campu...,4
6,185ie3k,kb6ox60,lemonboy77,Yeah my best advice is to be vigilant. Keep ap...,2
7,185ie3k,kb6pobf,RonnieCh4,"That would be awesome, bro! Thanks a lot! Real...",1

185ie3k is completed
1856yx0 is started

,_submission,id,author,body,ups
0,1856yx0,kazoejw,AutoModerator,Welcome to the **Santa Clara University** subr...,1

1856yx0 is completed
185enqp is started

,_submission,id,author,body,ups
0,185enqp,kb13mlr,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,185enqp,kcp4xxv,Strong_Hat_704,We have a 4 bed until built in 2019 available ...,1

185enqp is completed
183xwsk is started

,_submission,id,author,body,ups
0,183xwsk,karrul7,AutoModerator,Welcome to the **Santa Clara University** subr...,1

183xwsk is completed
1802uzx is started

,_submission,id,author,body,ups
0,1802uzx,ka34d4g,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,1802uzx,ka3mm43,JJYellowShorts,Food: gets boring after a while and is expensi...,4
2,1802uzx,ka4i6wy,k615perry,Food: overall alright in the dining hall and n...,4
3,1802uzx,ka7g65l,5torm,Food: Pretty decent. I would say that it’s not...,2
4,1802uzx,kaow632,GraceMeme,I'm a recent graduate looking for a place to s...,1
5,1802uzx,ka7vtam,confusedandindemand,Thanks for your response and honesty! I'm supe...,2
6,1802uzx,kaa9he3,-lmayonnaise-,Thought I’d weigh in on this.. I’m a current s...,1
7,1802uzx,kabk729,confusedandindemand,"Yeah, I'm not white so I feel like I would fee...",1

1802uzx is completed
17yppxz is started

,_submission,id,author,body,ups
0,17yppxz,k9utjks,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17yppxz,k9v0hrb,csark0812,I graduated in 2022 with a degree in psych and...,26
2,17yppxz,k9vjzf1,SuspiciousSafe6047,My granddaughter is there and it’s her first y...,5
3,17yppxz,k9wx4iw,idkcat23,As a non-engineer with a major that combines S...,3
4,17yppxz,k9xu588,XboxSlacker,My daughter is a freshman this year as a psych...,3
5,17yppxz,kacp6xr,VeraciousGirl,"Before attending SCU, everyone we spoke with w...",2
6,17yppxz,k9wnx2c,SwissyDad,My son just applied and I have some of the sam...,1
7,17yppxz,ka1zfex,OnTheEveOfWar,I loved it. Made a ton of close friends and me...,1
8,17yppxz,kxply05,Lopsided-Tradition28,My daughter will potentially be an incoming fr...,1
9,17yppxz,ka1z3px,thad_17,Several members of my fraternity were gay. You...,3
10,17yppxz,kxpnp1a,XboxSlacker,"""Worth it"" is a nearly impossible trait to pre...",1
11,17yppxz,ka20ujr,SwissyDad,Thanks - we will definitely visit if he gets i...,2

17yppxz is completed
17xnkju is started

,_submission,id,author,body,ups
0,17xnkju,k9oe9f4,AutoModerator,Welcome to the **Santa Clara University** subr...,1

17xnkju is completed
17x5tjz is started

,_submission,id,author,body,ups
0,17x5tjz,k9ldhcz,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17x5tjz,k9odl6h,Ancient_Prize4264,You can work in Benson or at other cafes aroun...,2

17x5tjz is completed
17wxeq6 is started

,_submission,id,author,body,ups
0,17wxeq6,k9jx3n9,AutoModerator,Welcome to the **Santa Clara University** subr...,1

17wxeq6 is completed
17tfp2i is started

,_submission,id,author,body,ups
0,17tfp2i,k8wkmhj,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17tfp2i,k8xx6vx,JJYellowShorts,"13 inch is smaller and more portable, my prefe...",5
2,17tfp2i,k90vbwa,BaakCoi,Just comes down to preference. I use a 13 inch...,1

17tfp2i is completed
17s7od8 is started

,_submission,id,author,body,ups
0,17s7od8,k8nw22q,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17s7od8,k8nw6ot,None,I am a Tess Heal fan and will be posting about...,2

17s7od8 is completed
17r6obc is started

,_submission,id,author,body,ups
0,17r6obc,k8gwo2v,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17r6obc,k8gz3gs,Additional_Sock_3529,75%,4
2,17r6obc,k8m2hkb,LS4delorean,early decision they’ll take you in a heartbeat...,4
3,17r6obc,k8yavqh,VeraciousGirl,The unweighted GPA of the '27 class is 3.73. T...,2
4,17r6obc,k8lt4sz,Funkymonkey4rl,Ur probably fine,1
5,17r6obc,k8ly94c,Unlucky-Sample-8582,I also did ED1 :) fingers crossed for both of us!,1
6,17r6obc,k8yludf,derwoodfull,Acceptance rate in the mid-40%; you are in the...,1
7,17r6obc,kcm6atf,Mom-O-3,Your GPA is probably too low but I could be wr...,1
8,17r6obc,kpjgphy,freeyoungboy321,Have you got accepted?,1

17r6obc is completed
17nc6zq is started

,_submission,id,author,body,ups
0,17nc6zq,k7qpg45,AutoModerator,Welcome to the **Santa Clara University** subr...,1
1,17nc6zq,kaa7aq6,sweatyboi9000,Most frats will rush fall or winter quarters. ...,1

17nc6zq is completed
17lqu77 is started